[2017-11-15 17:56] schickling opened #1 "Add file upload support"
https://github.com/jaydenseric/apollo-upload-server

[2017-11-16 21:34] Huvik opened #2 "Mixed content on Firefox"
On demo there is mixed content http + https. So on firefox demo don't work i made fix in playground what should fix it https://github.com/graphcool/graphql-playground/pull/236

[2017-11-17 10:51] schickling commented on #2
@timsuchanek please close as you've released a new Playground version.

[2017-11-20 16:21] ronal2do opened #3 "Facebook Dataloader"
Any expectations to adapt?

[2017-11-20 16:25] schickling commented on #3
Hi @ronal2do thanks a lot for bringing this up. Could you describe your scenario for dataloader?

[2017-11-21 16:15] DevanB commented on #3
I, too, am interested in this. I'm most interested in reducing the amount of requests in a single query. Because my GraphQL server currently is wrapping REST APIs, I am making the same request in multiple resolvers, but resolving different parts of the returned object.

I think this is a use case for dataloader.

[2017-11-21 16:24] DevanB opened #5 "Ability / documentation to add Apollo Engine"
There is a rather lengthy list of steps to add Apollo Engine to an Apollo Express server. I think this is a great opportunity to abstract those steps into something much easier to implement.

[2017-11-21 16:35] schickling commented on #3
@DevanB do you have any suggestion on how the API should look like you'd want to use?

[2017-11-21 17:02] DevanB commented on #3
@schickling

At this time, no. Apparently you can move dataloaders to different layers of the server and get different results? After hearing that, I've decided to research it a little. Once I complete that research, and possibly implement my own version, I'm sure I'll have an opinion on how the API should look. 👍

[2017-11-21 20:37] ronal2do commented on #3
Just to cache the data, even for servers that I believe to be very useful, I use in some projects that is very good

[2017-11-22 18:29] #1 closed

[2017-11-24 16:16] pyros2097 opened #9 "Expose express library to end users?"
I would like to serve my build/dist folder for my static assets when developing/deploying to now or any server. For that I need to install express again and use the static function from there.
It would be great if graphql-yoga had this inbuilt for my static assets otherwise it would good enough to re-export the express library for public use.

This is what I'm doing now
[code]

Something like this

[2017-11-24 16:22] pyros2097 opened #10 "Update docs for context option"
The readme shows that context is an object type  but it also accepts a function. I found that out by reading the source code as I needed to intialize a new context object on every request. Its better if it would be  a function always as the context is generally per graphql request.

[2017-11-24 16:29] pyros2097 opened #11 "Implement after hook or error handling?"
Right now I generate and start a transaction in the context function and if the graphql request fails due to an error I would like inspect the result if it has any errors and based on that to rollback/commit the transaction. It would be nice if we could have a function similar to context but gets called after the graphql function to clean up connections/log stuff etc.

It seems `apollo-server-expr

[2017-11-24 16:34] pyros2097 commented on #11
Also it seems if an error occurs in the context function. It crashes the server. Currently my context function is async and checks the token. It would be great if could try to catch an error happening here and return it as a graphql error.

[2017-11-25 16:52] geirman opened #12 "GraphQLServer Endpoint Option Doesn't Take"
# Summary

When I pass in server options for `endpoint`, it doesn't seem to have any effect.

# Code

[code]

# Expected Result

I expect to go to http://localhost:4000/graphql and see the playground

# Actual Result

I get the playground at http://localhost:4000 (without the `/graphql` path)

[2017-11-25 16:54] geirman commented on #12
Doh! Nevermind, I see the option is actually `playgroundEndpoint`. My bad!

[2017-11-25 16:54] #12 closed

[2017-11-25 21:28] AhmadEl-Banna opened #13 "support for Koa or hapi"
do you have any plan to support any servers rather than express soon ?

[2017-11-25 22:03] DevanB commented on #2
Issue resolved via graphql-playground commit [`1c5120`](https://github.com/graphcool/graphql-playground/commit/1c5120bee15fc00bcb83caab79f616d1129c0fe6) and released in [v1.1.6](https://github.com/graphcool/graphql-playground/releases/tag/v1.1.6)

[2017-11-25 22:03] #2 closed

[2017-11-25 22:10] schickling commented on #13
Hi @AhmadEl-Banna, thanks for your question.

There are no plans to support other servers than express so far. Can you further describe your requirements/use case?

[2017-11-27 00:48] giautm opened #14 "Allow to access built-in schema"
I want to attach directives to schema resolvers, one way to do this is manual setup schema and pass it to GraphQL server (to much imports are required). Easy way is allow to accees schema.

[2017-11-27 01:00] giautm commented on #14
i will open a PR soon. :)

[2017-11-27 09:23] #14 closed

[2017-11-28 16:32] AlaDouagi opened #18 "apollo-react error in fullstack example project"
There is an error that happened due a confusion in port numbers, after running the server, the console outputs ``Server is running on localhost:4000``, and the frontend part built with react-apollo is configured to fetch GraphQL data from ``localhost:4000``:
[code]
but there is no configuration to tell the server to run on port **4000**, so the server will run on the default port **3000**:
[code]

[2017-11-28 21:58] #18 closed

[2017-11-29 16:44] orefalo commented on #11
+1 same issue

[2017-11-29 16:47] orefalo commented on #3
I believe this should NOT be part of Yoga,
  unless it is implemented as a schema @directive

[2017-11-29 16:48] orefalo commented on #5
Can you provide a pointer to the lengthy list? or you suggesting a change in the api or better documentation. plz clarify

[2017-11-29 17:29] DevanB commented on #5
All of the above. If Apollo Engine is added to make it easier to setup, then documentation needs to be added for that.

For reference, the instructions to setup Apollo Engine with Apollo Server (which graphql-yoga is using) are documented [here](https://www.apollographql.com/docs/engine/setup-node.html)

[2017-11-29 17:58] jtmthf opened #19 "AWS Lambda support"
I've been prototyping an API to use with AWS Lambda and this is a basic example of what it could look like:

[code]

The implementation would be simple to put together for basic use cases, but subscriptions and file-upload would be missing. Binary file-upload is possible already with AWS lambda through API gateway, but if you're using serverless framework (which I imagine most people are), it does

[2017-11-29 20:05] jtmthf commented on #19
Good news on the serverless front for file uploads. There is already  a serverless plugin for allowing binary types [maciejtreder/serverless-apigw-binary](https://github.com/maciejtreder/serverless-apigw-binary). There is already an issue in serverless/serverless#2797, for enabling it in core, but a plugin works for now. This leaves `apollo-upload-server` the only blocker for adding file upload su

[2017-11-30 00:01] orefalo opened #20 "New Feature: Pluggable Middleware (for AAA among other)"
This would be a great nice to have,

and it could narrow to something as simple as hooks during the instantiation of the express server.

[2017-11-30 01:05] giautm commented on #20
I think there is a good example about authentication via directives: https://github.com/chenkie/graphql-auth

[2017-11-30 04:38] orefalo commented on #20
interesting...

[2017-11-30 05:15] orefalo commented on #20
Went over your code...  then found this issue https://github.com/chenkie/graphql-auth/issues/2
  That's a real problem... and a waste of resources. not to mention the side-effects for mutations.

This leads to believe that yoga could benefit from a better middleware implementation, in fact something like this https://github.com/scaphold-io/graphql-extended/blob/master/src/middleware/Middleware.ts

[2017-11-30 06:26] pyros2097 commented on #11
I've removed the debug option. I've put these new params in the props will/should it be in the options or should it be in a new field called apollo which will expose all low level apollo server options.
[code]

[2017-11-30 10:11] n1ru4l commented on #19
How would the subscriptions work with lambda?

[2017-11-30 11:20] giautm commented on #20
@orefalo: We can create two directives live `@authBefore(roleIds: [string])` and `@authAfter(roleIds: [string])` to do same thing as middlewares.
`roleIds` is a optional variable, if set user must log in and has least one of the roles

[2017-11-30 12:31] orefalo commented on #20
@giautm I would gladly look at some samples ;-)  No idea how to get it done.

[2017-11-30 15:14] orefalo commented on #20
We are going in circles here...

Did you look at this defect?
https://github.com/chenkie/graphql-auth/issues/2

Let me copy the key message
====
@chenkie The way attachDirectives is implemented only allow directives resolver to be executed before the field resolver.

**What it does:
[Field Resolver (listArticles)] -> [Directive resolver (isAuthenticated)] -> Next**

What I try to achieve
[Directiv

[2017-11-30 16:56] #3 closed

[2017-11-30 20:29] orefalo commented on #20
Actually found this project, which seems to be in perfect alignment

https://github.com/thebigredgeek/apollo-resolvers

[2017-11-30 21:54] chrisl777 commented on #19
@jtmthf Do you have a branch where we can look at the code in your GraphQLLambda approach?

[2017-11-30 22:38] schickling commented on #19
The suggested API looks really nice and clean. I like it @jtmthf!
I think it's fine that for now file-upload & subscriptions don't work yet. This can be added later!

Would be great if you could create a PR for this? 👍

[2017-12-01 02:39] giautm commented on #20
@orefalo: i have tried `apollo-resolvers`, i don't want wrap all of resolvers with a function. It look so ugly.

[2017-12-01 07:05] jtmthf commented on #19
@chrisl777 @schickling I don't have an implementation yet, but I will be putting it together this weekend with a PR.

I did run into one issue that would be problematic with the current API. As Lambda requires the handler to be provided synchronously as a module export, the schema cannot be created asynchronously. One common case of this is introspecting a graph.cool backend. To resolve this in a

[2017-12-01 07:57] giautm commented on #20
@orefalo: I posted a implement at [here](https://github.com/chenkie/graphql-auth/issues/2#issuecomment-348424846). Please take a look. Tks. :)

[2017-12-01 08:32] schickling commented on #19
Would it be an option in that case to read the schema from a file instead? (This is what we're seeing as a emerging best practice.)

[2017-12-02 07:29] motss opened #22 "README.md of examples not updated"
## examples/hello-world/README.md

[code]

## examples/subscriptions/README.md

[code]

[2017-12-02 12:19] #22 closed

[2017-12-04 04:36] giautm commented on #20
I opened PR at here to bring it to `graphql-tools`: https://github.com/apollographql/graphql-tools/pull/518

Directive can use as before & after resolver middlewares:D.

[2017-12-04 16:43] jtmthf commented on #19
That would work, or would it be even better to have explicit support for `graphql-config`? That would be a separate PR of course.

[2017-12-04 18:36] chrisl777 commented on #19
Initially, I think in the case of Lambda, it would be great to have support for using a schema string in a local variable, or reading from a local .graphql file. For a Lambda, it is probably better to cache the schema locally, since you get billed for execution time.

Then, later on, you could add support for graphql-config, for the more intensive cases that people may have.

[2017-12-08 13:05] Biromain opened #26 "Playground subscription"
Playground subscription seem to search on ws(s) endpoint property

Search in ws(s)://ip:port/graphql **KO**
[code]

Search in ws(s)://ip:port/ **OK**
[code]

[2017-12-11 11:14] fabien0102 opened #27 "Typescript example"
Hello,

It should be awesome to have a typescript example in this repository (I have some issues with the resolvers types for example…).

[2017-12-13 01:21] giautm commented on #20
Hey! That PR really merged and release with version 2.13.0. So we can close this issues

[2017-12-13 15:13] orefalo commented on #20
cool! thank you @giautm

[2017-12-13 15:13] #20 closed

[2017-12-13 15:43] schickling commented on #20
@giautm would be great if you could create a PR with a new example application using this feature 🎉

[2017-12-14 12:18] playerx commented on #5
I've implemented apollo engine with graphql yoga, following changes are required to make it work right now:
[code]

I've also created simple working demo:
https://github.com/playerx/graphql-yoga-sample

[2017-12-14 12:21] playerx opened #28 "getRemoteSchema - function proposal"
I think it would be useful to have such function in graphql-yoga:
[code]

To create easily remote schemas and merge them all.

What do you think?

[2017-12-14 12:33] chakrihacker opened #29 "what's the difference between graphcool framework and graphql-yoga"

[2017-12-14 13:09] playerx commented on #29
graphql-yoga will help you to create API gateway, while graph cool helps to create graphql as a database, checkout this example, here are both API Gateway & Graphcool:
https://github.com/graphcool/framework/tree/master/examples/node-gateway-custom-schema

[2017-12-14 13:11] playerx commented on #29
Note: in that example API Gateway is not implemented with graphql-yoga, I've shared that example to see the difference between API gateway and graph cool, both of them are graphql but they solve different kind of tasks.

[2017-12-14 13:14] playerx opened #30 "DateTime, Date, Time, JSON - scalars proposal"
What do you think to add those scalars out of the box:
DateTime, Date, Time, JSON

and make it configurable to disable them.

I think I will need them in all of my apps, especially DateTime.

If you think it's good idea I can send PR.

[2017-12-14 13:21] chakrihacker commented on #29
You mean graphcool is like graphql native and graphql-yoga is like Api gateway to stitch multiple graphql native and rest api's

[2017-12-14 13:23] playerx commented on #29
Yep, Also I plan to use graphql-yoga for a separate graphql instance, realtime game server.

[2017-12-14 13:31] chakrihacker commented on #29
Cool 😎, thanks for clarification

[2017-12-14 13:31] #29 closed

[2017-12-14 13:41] schickling commented on #30
I think there's definitely value in supporting a common set of schema definitions + type resolvers as a standalone package (which then could be used by `graphql-yoga`).

I remember @RomanGotsiy and @IvanGoncharov coming up with the same idea. Would be great to hear their thoughts!

[2017-12-14 13:43] schickling commented on #28
While I think it's a relatively common use case, I'd still be very interested what your concrete use case is. As there are more and more GraphQL bindings for public GraphQL APIs (like [this Github API binding](https://github.com/graphcool/graphql-binding-github)) this would be another solution for many use cases.

[2017-12-14 14:07] playerx commented on #28
My use case is to have graphql micro-services: Users, Roles, Game1, Game2, Payments and to stitch them together like that: (urls are mock)
[code]

[2017-12-14 14:25] IvanGoncharov commented on #30
We still have this idea and to release such package. However, it blocked by https://github.com/facebook/graphql/pull/326 since if
 you define custom scalars without specifying underlying serialization type you create a lot of problems for tooling and especially for code generation.

[2017-12-14 14:35] playerx commented on #30
@IvanGoncharov as I guess its still a draft implementation and I think we can add those scalars today and describe serialization type for them when it will be possible and stable.

[2017-12-14 16:25] schickling commented on #28
I see, to me it sounds like this functionality would be a better fit as part of `graphql-tools` as you're using `mergeSchemas` anyway. Maybe you want to open an issue/PR over there?

[2017-12-14 19:35] playerx commented on #28
Okey thanks, I've one idea I'll share it later!

[2017-12-14 19:35] #28 closed

[2017-12-17 06:09] playerx commented on #28
@schickling  I've created new project [@jokio/graphql](https://github.com/jokio/graphql), it's graphql server, built on top of graphql-yoga. This package solves my domain problems.

Here is the example of complex scenario
* stitch remote schemas
* have your own schemas
* rest apis:

example: https://github.com/jokio/graph/blob/master/src/index.ts

Please check out and if you will like any ideas I

[2017-12-17 14:07] orefalo commented on #9
+1

[2017-12-18 10:19] schickling commented on #9
Hi @pyros2097, isn't what you suggested already possible?

[2017-12-18 10:57] pyros2097 commented on #9
I needed to install the express library and then use the static option from it. I understand the express server is exposed by the server but not the library. So I need to install express additionally to use say ... express.Router() if I needed to add a route or something like that.
That's why I made this change
https://github.com/pyros2097/graphql-yoga/blob/master/src/index.ts#L15
I just wanted it

[2017-12-18 11:54] schickling commented on #9
Installing the express library is the way to go for now.

[2017-12-18 11:57] kbrandwijk commented on #9
Yes, I saw that in the PR too. I agree with @schickling that if you need anything from express, you should add that dependency yourself, instead of having `graphql-yoga` export it.

[2017-12-18 12:04] pyros2097 commented on #9
Ok. I understand now. I just thought, that way we could make graphql-yoga a single dependency for all your server needs. Maybe that's now what graphql-yoga is trying to solve. Again it was just my reasoning. @kbrandwijk I initially followed that approach.

[2017-12-18 13:08] #9 closed

[2017-12-19 14:56] nikolasburk opened #34 "API requests fail with: Invalid options provided to ApolloServer"
The last release seems to be broken. I was creating and starting my yoga server as follows:

[code]

However, I was not able to access the API on `http://localhost:4000`, the Playground could not load the schema but failed with an internal server error and the message: `Invalid options provided to ApolloServer:`.

Rolling back to version `0.3.0` fixed the problem.

[2017-12-19 14:59] kbrandwijk commented on #30
There's already `graphql-iso-date` for date scalars, and `graphql-type-json` for JSON types. I don't think we need to reinvent them again.

[2017-12-19 15:19] playerx commented on #30
@kbrandwijk my proposal was just to use already implemented scalars and put the in graphql-yoga out of the box.

[2017-12-19 15:21] kbrandwijk commented on #30
@playerx Yes, and I completely agree with that. My response was more for @IvanGoncharov who mentioned releasing another package like that.

[2017-12-19 16:05] schickling commented on #34
Thanks for reporting this @nikolasburk. @kbrandwijk could you have a look into this as this seems to be related to your recent PR.

[2017-12-19 16:28] kbrandwijk commented on #34
`graphql-import` 0.1.7 is released. This should have fixed the underlying issue.

[2017-12-19 17:47] schickling commented on #34
The issue still seems to persist. You should be able to reproduce the problem here: https://github.com/graphql-boilerplates/node-graphql-server/tree/master/basic

[2017-12-19 17:49] schickling commented on #30
This is also related to https://github.com/graphcool/graphcool-binding/issues/15

[2017-12-19 19:36] kbrandwijk commented on #34
Fixed after all dependencies across all packages were updated to the same graphql version (0.12).

[2017-12-19 19:36] #34 closed

[2017-12-19 20:26] marktani commented on #34
awesome!

[2017-12-19 22:15] IvanGoncharov commented on #30
@kbrandwijk In graphql-js `0.12.x` you don't need to use any external package for `JSON` scalar since all scalars by default will accept all values:
https://github.com/graphql/graphql-js/blob/master/src/type/definition.js#L498
Just define it as `scalar JSON` inside your SDL schema 🎉

As for package I planning to do I have a few very specific features in mind not sure if it will work like intended

[2017-12-20 21:09] kbrandwijk opened #36 "v0.4.3 released as v0.4.1"
I just noticed the Github release v0.4.1, but it actually contains v0.4.3...

[2017-12-20 21:10] kbrandwijk commented on #27
This seems adequately covered by the TS boilerplates?

[2017-12-20 21:21] DevanB commented on #36
Yeah, I've got a question out to Tim and Johannes about the tag situation. But it's relatively late in Europe right now (surprised you are still up too!), so not expecting a response quickly.

[2017-12-20 21:23] DevanB commented on #27
I agree. @fabien0102 have you seen the [advanced TypeScript boilerplate](https://github.com/graphql-boilerplates/typescript-graphql-server/tree/master/advanced)?

[2017-12-21 13:45] vincenzo commented on #36
I've tried installing npm version 0.4.2 and 0.4.3 -- not sure what GIthub version they installed, but I get these warnings that I think should be addressed:

with 0.4.2:

[code]

with 0.4.3
[code]

[2017-12-22 09:27] vincenzo opened #38 "Yoga using graphql@0.12.0 since v4.0.0 causes warnings"
Yoga has switched to `graphql@0.12.0` since `v4.0.0`, but several dependencies still require previous versions, causing warning such as these:

with 0.4.0:
[code]

with 0.4.2:

[code]

with 0.4.3
[code]

What's the best course of actions here? Downgrade Yoga's dependency back to `graphql@0.11`?

[2017-12-22 12:08] kbrandwijk commented on #38
Everything should function as normal, regardless of the warnings.

[2017-12-22 12:14] schickling commented on #38
These warnings should disappear as other libraries are upgraded to the newer GraphQL version.

[2017-12-24 07:15] kbrandwijk opened #39 "Use graphql extensions to provide information about bindings in server response"
There was a discussion a while ago about how to visualize the composition of a GraphQL server that uses multiple bindings. This proposal addresses this issue.

## What information to provide
A 'best practice' GraphQL server uses a single schema, and using delegation in the resolvers to delegate queries and mutations to 1 or more bindings (back-end GraphQL endpoints). During development and testing

[2017-12-25 03:31] kbrandwijk commented on #36
Fixed in the latest releases.

[2017-12-25 03:31] #36 closed

[2017-12-25 03:40] kbrandwijk commented on #26
@Biromain In development mode, the endpoints are read from your graphql config file. Did you add a subscription endpoint with the right path?

[2017-12-26 21:42] kbrandwijk opened #41 "Easily support multiple endpoints"
It would be nice if there was an easy way to support multiple endpoints. This could be possible by allowing an array of option objects instead of just a single one, and creating Express endpoints for each of them.
Use cases for this include a admin endpoint, separate anonymous/authenticated endpoints and general flexibility.

[2017-12-27 11:25] schickling commented on #39
I really like this idea! We'll try to prioritize this and come up with a first mockup over the next few weeks.

Would be great to hear other people's thoughts and ideas on this as well! 🙏

[2017-12-27 19:19] kbrandwijk opened #43 "Setup renovate"
Please.

[2017-12-27 22:28] kbrandwijk commented on #43
Seems done!

[2017-12-27 22:28] #43 closed

[2017-12-28 19:16] kbrandwijk opened #49 "Allow passing in path to .graphql file for typeDefs"
In most scenarios, the type definitions for the server live in their own `.graphql` file (best practices from the boilerplates). It would be convenient to pass in the file path, instead of having to load the file first, and pass in the contents to `typeDefs`.

This could be implemented either as a separate parameter (`typeDefsPath`?) or by reusing `typeDefs`.

[2017-12-28 19:23] schickling commented on #49
Sounds like a good simplification & workflow enhancement! 👍

Regarding calling it `typeDefs`: Is there a reliable and inexpensive way to check whether the passed in string is a path or GraphQL SDL?

[2017-12-28 19:32] kbrandwijk commented on #49
`typeDefs.endsWith('.graphql')`?

[2017-12-29 10:48] asci opened #51 "How to get nested fields arguments?"
Hello,
I have a small and possible simple question about access to nested field arguments
Types:
[code]

Query:
[code]
Resolvers:
[code]

In `args` I have an empty object, but I checked query itself contains data about an argument. How can I get access to it in my resolver? Thanks!

[2017-12-29 10:53] #51 closed

[2017-12-29 10:55] schickling commented on #51
Even though you seem to have found the answer yourself, it would be great if you could provide your solution to other people who might find this issue.

[2017-12-29 11:12] asci commented on #51
Yep, sure, solution, as I expected is easy. Instead of returning value for the nested field, we need to return a function that will return a value. And in this function will be an argument for the nested field:
[code]

[2017-12-29 21:39] schickling commented on #49
Implemented in `0.6.0`

[2017-12-29 21:39] #49 closed

[2017-12-30 13:46] kbrandwijk commented on #39
I've been playing around some more with this idea. This is what I've got so far:
- Whenever you call a delegate in `graphcool-binding`, the path to the current node and the delegate that is called is saved on the context
- A custom formatResponse function is used on apollo-server to access that information from the context, and put it in an extensions object.
- The updated extension object looks s

[2017-12-30 22:41] kbrandwijk opened #55 "Add support for automatic persisted queries"
I think yoga should support automatic persisted queries (https://github.com/apollographql/apollo-link-persisted-queries) out of the box. It's fully backwards compatible and doesn't require any server side configuration, so I believe it's safe to add this to the yoga core.

[2017-12-31 11:22] schickling commented on #55
Sounds great! Will you open a PR?

[2017-12-31 12:21] marktani commented on #49
If I do `yarn start` [in this repo](https://github.com/hoodsy/graphcool-auth0-example) I immediately get this error output:

[code]

Is this related to `graphql-yoga`? The used version is `0.7.0`.

[2017-12-31 13:47] schickling commented on #49
@marktani fixed in https://github.com/hoodsy/graphcool-auth0-example/pull/2

[2017-12-31 14:51] kbrandwijk opened #56 "Add support for application/graphql"

[2017-12-31 14:54] schickling commented on #56
PR?

[2017-12-31 14:54] kbrandwijk commented on #55
I'm creating this as a separate package (`graphql-persisted-queries-middleware`). I will submit a PR to yoga as soon as it's finished.

[2017-12-31 14:54] kbrandwijk commented on #56
Yes

[2017-12-31 15:09] kbrandwijk commented on #13
Closing this for now, as there has been no more feedback on the issue.

[2017-12-31 15:09] #13 closed

[2017-12-31 16:18] schickling commented on #39
This is really awesome @kbrandwijk. Let's see whether we can collaborate with the folks @apollographql on this, as this looks similar to the GraphQL tracing extension.

[2018-01-01 03:21] kbrandwijk commented on #39
Yes, I took inspiration from that. I am already discussing this with them, because currently apollo-server has 2 hardcoded extensions and no way to specify another. Tooling is very limited there, the only place to do it is `formatResponse`, but doing this 'under the covers' means being extra careful about how to wrap this when the user also specifies it's own `formatResponse`. I'll open an issue o

[2018-01-01 03:50] kbrandwijk commented on #38
Closing because this is all about external dependencies, and there's nothing to fix in yoga for this.

[2018-01-02 08:57] #56 closed

[2018-01-03 08:59] kbrandwijk commented on #41
@schickling Any thoughts?

[2018-01-03 10:19] marktani commented on #41
Would you usually expose the same GraphQL schema to all endpoints?

[2018-01-03 10:41] schickling commented on #41
@kbrandwijk I definitely like the idea here. I think the best way to explore this is via concrete use cases and example code. Can provide some more details?

[2018-01-03 18:27] schickling opened #61 "Setup renovate to automatically update/merge versions for examples"
Please take a look at this @rarkins

[2018-01-04 00:45] cj opened #66 "type and field descriptions?"
According to https://stackoverflow.com/questions/39962867/how-do-i-add-a-description-to-a-field-in-graphql-schema-language you should be able to do:

[code]

Shouldn't this add `A type that describes the user` here?

![](https://image.prntscr.com/image/y5hus-iqTGyB7xkQrlyITA.png)

[2018-01-04 01:01] kbrandwijk commented on #66
That's the old syntax for descriptions. Since graphql 0.12, you should now use `"""`. So:
[code]

[2018-01-04 10:06] #61 closed

[2018-01-04 10:08] schickling commented on #66
Thanks for helping out @kbrandwijk 👍

[2018-01-04 10:08] #66 closed

[2018-01-04 10:09] schickling commented on #66
We should probably add some documentation about this for GraphQL Playground.

[2018-01-04 21:51] kbrandwijk opened #71 "Yoga options redesign"
## Yoga options redesign
Currently, yoga has the following options:
[code]
These options can all be passed in to the constructor of the server.
Then there are the following apollo-server options that are not available yet:
[code]

Looking at these options, there are basically three categories of options:
1. Server options
    * cors
    * port
    * routes:
      * endpoint?: string
      * subscr

[2018-01-04 22:06] kbrandwijk commented on #19
One of the additional issues with Lambda is the websockets support. Lambda is not designed for long-lived connections, so as much as I'd like to see yoga deployed to AWS Lambda, I don't know if it's a good fit altogether...

[2018-01-05 14:46] makstr opened #72 "Schema is not configured for subscriptions"
I am trying to mash up a simple subscriptions  server stitching several different schemas

For reference:
https://www.apollographql.com/docs/graphql-tools/generate-schema.html#modularizing
https://github.com/apollographql/graphql-tools/blob/master/docs/source/schema-stitching.md#adding-resolvers-between-schemas

It all works fine with regular queries and mutations and I get expected results. Howev

[2018-01-05 15:30] schickling commented on #72
Can you try to reproduce this problem simply using `graphql-express` or `apollo-server`? If it's still a problem, then it's most likely a problem with `graphql-tools`.

[2018-01-05 18:58] kbrandwijk commented on #19
Lambda support is released in v0.9.0.

[2018-01-05 18:58] #19 closed

[2018-01-05 19:07] #11 closed

[2018-01-05 19:07] #71 closed

[2018-01-05 20:32] kbrandwijk opened #81 "Update lambda handler with new options structure"

[2018-01-05 20:33] kbrandwijk commented on #10
Updated in the latest release.

[2018-01-05 20:58] kbrandwijk opened #82 "Playground doesn't work when using non-standard graphql path in dev mode"
In production mode, the endpoint is passed correctly to the playground, in dev mode, it isn't.

[2018-01-05 21:00] kbrandwijk commented on #82
The endpoint in .graphqlconfig.yml also needs to be updated. Closing...

[2018-01-05 21:00] #82 closed

[2018-01-05 21:02] kbrandwijk commented on #27
Closing this as there was no reply. There are examples in this folder, and boilerplates on Typescript using yoga. That should be sufficient. If you run into any specific issues, feel free to open a new issue.

[2018-01-05 21:02] #27 closed

[2018-01-05 21:09] kbrandwijk commented on #26
I have confirmed that this is a playground issue, tracked here: https://github.com/graphcool/graphql-playground/issues/462

[2018-01-05 21:09] #26 closed

[2018-01-05 22:18] kbrandwijk commented on #41
As discussed with @schickling, let's close for now, as this is a feature better suited to a higher order framework.

[2018-01-05 22:18] #41 closed

[2018-01-05 22:52] kbrandwijk commented on #5
I have added an example to the examples folder using Apollo Engine.

[2018-01-05 23:02] #81 closed

[2018-01-06 08:22] lunchboxer opened #88 "console.log not called in server.start callback"
This issue appears with the switch from 0.9.0 to 1.0.0

I'm using graphcool beta and my server is defined in index.js which looks like this:

`server.start(() => console.log("Server is running on http://localhost:4000"));`

with graphql-yoga 0.9.0, I call yarn start and it prints the message as expected. In 1.0.0 it does nothing, which looks scary, like my server didn't start, but it did.

[2018-01-06 08:34] lunchboxer commented on #88
I believe this is related to `https://github.com/graphcool/graphql-yoga/pull/77`  it looks like the callback isn't the first argument anymore. Shouldn't it be? since options are optional, shouldn't they go after?

[2018-01-06 08:41] lunchboxer commented on #88
Indeed changing the function call  to:
`server.start(null, () => console.log("Server is running on http://localhost:4000"));`
fixes the problem and the callback gets executed. One could either change all the boilerplates and the docs to reflect this api change, or one could put the callback as the first argument. I'm in favor callbacks first.

[2018-01-06 10:39] lunchboxer commented on #88
I suppose that a good implementation with no options and a callback keeping with js conventions, would be:

[code]
I'd be cool with that, but then you gotta merge my pull requests for updating all of the examples and docs.

[2018-01-06 10:56] schickling commented on #88
Both syntax options should be supported. This rather looks like a bug to me. @kbrandwijk what are your thoughts?

[2018-01-06 18:26] kbrandwijk commented on #88
I agree both syntax options should work. This should and can be fixed in `start()`, checking if the first parameter is a function.

[2018-01-07 02:50] #88 closed

[2018-01-07 10:37] makstr commented on #72
Thanks, this is graphql-tools related. Not sure merging subscriptions is possible at the moment

[2018-01-07 10:45] #72 closed

[2018-01-07 10:46] schickling commented on #72
Would be great if you could paste the link to the graphql-tools issue here so other people can follow along.

[2018-01-07 11:19] Biromain commented on #26
Ok thanks. I implemented my own server but thanks to yoga for letting me learn by not having to implement everything at once.

[2018-01-07 11:22] kbrandwijk opened #93 "Startup validation"
There are two areas where startup validation can be improved:
- Parsing the options that were passed in (mainly for JS)
- Validation the executable schema (no resolvers missing etc.)

This prevents errors on first query execution.

[2018-01-08 02:19] makstr commented on #72
Still working on it, will post you guys...

[2018-01-08 22:56] hobochild opened #97 "move graphql to peer dependencies"
Hi :wave:,

I recommend moving graphql.js to peer deps, as I'm sure you know [having multiple instances of graphql.js causes issues](https://github.com/graphql/graphql-js/issues/491), having it as a strict dependency gets in the way especially when you are npm linking things.

We'd just need to add graphql to the install instructions. eg
[code]

What do you think?

[2018-01-08 23:24] kbrandwijk commented on #97
I think this issue was already fixed with graphql 0.12, and is no longer an issue.

[2018-01-09 02:54] hobochild commented on #97
Oh nice, from the issue I didn't realise it was fixed. That's great news!

[2018-01-09 02:54] #97 closed

[2018-01-10 13:38] hobochild opened #100 "return http server from .start"
Hi,

I'm running some unit tests with yoga and I'd like to close the server programatically but the http server isn't accessible, and express doesn't offer `.close()`. Would you be open to a pr that adds the httpServer as a property? or is there a better way to achieve this result?

[2018-01-10 14:42] nikolasburk opened #101 "Subscriptions fire multiple times"
I have an issue where the subscriptions are firing multiple times per event when they should only fire once. The number of times the subscriptions fire increases the more requests the server receives.

The issue can be reproduced with this project: https://github.com/howtographql/react-apollo/tree/gc-1.0

[2018-01-11 11:42] makstr commented on #72
Today I played a little with different ways of schema merging, I looked at the merge-graphql-schemas packaged but I could not get it to work well with graphql-yoga. So I went back to graphql-tools again, I upgraded the package and it looks like the latest version is working fine

[2018-01-12 10:57] schickling commented on #72
So after all you did get it to work with `graphql-yoga`?

[2018-01-12 19:49] pspeake87 opened #106 "GraphQLServerLambda not working with graphcool-binding"
doesnt seem to work in Lambda. would be great to have this working or some documentation on how to get it to work. maybe update the lambda example?

[2018-01-13 08:22] kbrandwijk opened #109 "Remove bundling from yoga?"
Currently, yoga supports schema bundling out of the box. This is nice, but it creates a lot of dependencies. And it feels a bit like Express running Webpack for you. It think there is a clear pattern emerging that you use `graphql-cli` and its config file to configure and run bundling on your schemas to process imports, and this task should no longer be included in yoga.

[2018-01-13 10:36] DevanB commented on #109
At the risk of sounding pedantic, what is “schema bundling” in this instance?

[2018-01-13 10:39] kbrandwijk commented on #109
Processing import statements (`graphql-import`)

[2018-01-13 11:08] DevanB commented on #109
Okay, this is what I assumed.

My hangup with extracting this functionality is doing that seems contrary to the reason for the existence of `graphql-yoga`: 'with focus on easy setup'.

Requiring a developer to install any tools manually beyond `graphql-yoga` then makes the beauty of this project null and void. It seems `graphql-yoga` is being adopted by others because of it's 'Sensible defaults' a

[2018-01-13 14:13] kbrandwijk commented on #109
If you are using `graphql-yoga` as a basic 'out of the box' graphql server, feeding it a schema and resolvers, you will not be needing schema imports, so to me, schema imports are not part of that 'focus on easy setup'.

As soon as you start working with bindings, you _are_ probably going to need schema imports. Now, as soon as you start using bindings, you are going to use `graphql-cli` with a co

[2018-01-14 18:18] wtgtybhertgeghgtwtg commented on #109
`graphql-import` has [two dependencies](https://github.com/graphcool/graphql-import/blob/0a69d675257c6c8c4398a5a16a3eb2558d6533a9/package.json#L55-L58), `graphql` and `lodash`, neither of which are unique.

[2018-01-14 19:40] wtgtybhertgeghgtwtg commented on #38
It still works, but getting a bunch of warnings when you install a package isn't that great of an experience.  Wanna reopen this to track sending PR's to upstream dependencies?

[2018-01-14 23:10] marktani opened #114 "Additional middlewares"
Think about integration of wrappers like https://github.com/awslabs/aws-serverless-express or https://github.com/dougmoscrop/serverless-http.

[2018-01-14 23:26] wtgtybhertgeghgtwtg commented on #38
- [ ] `graphql-extensions` PR: https://github.com/apollographql/graphql-extensions/pull/3
 - [ ] `apollo-cache-control` PR: https://github.com/apollographql/apollo-cache-control-js/pull/12
 - [ ] `apollo-tracing` PR: https://github.com/apollographql/apollo-tracing-js/pull/7
 - [ ] `apollo-upload-server` PR: https://github.com/jaydenseric/apollo-upload-server/pull/36

[2018-01-14 23:28] marktani commented on #38
Fantastic, thanks a lot @wtgtybhertgeghgtwtg 🙏

[2018-01-14 23:38] wtgtybhertgeghgtwtg commented on #38
PR to `graph-yoga` for the `aws-lambda` peerDependency warning: https://github.com/graphcool/graphql-yoga/pull/115.

[2018-01-15 01:12] kbrandwijk commented on #109
@wtgtybhertgeghgtwtg The dependency problem is actually the other way around. What I'm trying to minimize, is that whenever a new version of one of the ecosystem tools is published, that doesn't cause a release avalanche of new versions.

[2018-01-15 01:17] kbrandwijk commented on #114
We already support native deployment to aws using the lambdahandler. What would these wrappers add?

[2018-01-16 03:31] likeben opened #120 "Init an demo locally according to the instruction in Graphcool Docs, encounter such error after 'prisma deploy' command"
ERROR: Whoops. Looks like an internal server error. Please contact us from the Console (https://console.graph.cool) or via email (support@graph.cool) and include your Request ID: cluster:cluster:cjch2waig00040107kr7kcw5o

{
  "data": {
    "addProject": null
  },
  "errors": [
    {
      "message": "Whoops. Looks like an internal server error. Please contact us from the Console (https://console.g

[2018-01-16 06:27] tibotiber opened #121 "support for union type?"
Hi, is there any support for `union` types yet in graphql-yoga? It seems to need a `resolveType` function to determine the actual type of an object at runtime. I couldn't find any place refering to supporting this so far.

Taking this opportunity to express my deep admiration for the work you guys at graphcool have been doing. Amazing developer experience across the board since the release of the

[2018-01-16 09:07] marktani commented on #120
This is an error in the developer preview, please ping me in Slack (handle @nilan) so I can help you resolving it 🙂

[2018-01-16 09:07] #120 closed

[2018-01-16 16:54] sys13 opened #122 "Authentication"
Would be cool to have an example that shows how to set up auth with passport, maybe with JWT. Even cooler if it was in the framework.

[2018-01-16 17:03] bkniffler opened #123 "Fail if context promise rejected"
Hey,
Currently, errors are ignored when resolving the context. I think the context function would be a great way to for example do authentication by verifying a JWT token or to connect to the database.

Catching these and let lambda throw an error would be way better to just continue the request.

[2018-01-16 17:04] bkniffler commented on #122
Resolving this might help https://github.com/graphcool/graphql-yoga/issues/123

[2018-01-16 20:56] kbrandwijk commented on #122
There will be a separate, JWT based GraphQL middleware library, that you can easily use with yoga. WIP.

[2018-01-16 21:11] bkniffler commented on #122
But will it work with lambda? ;)

[2018-01-17 20:01] ForsakenHarmony opened #125 "Can you revert removing the playground?"
This commit: https://github.com/graphcool/graphql-yoga/commit/a49583a

I don't want to have to start 2 webservers to be able to do it now and in my opinion it's a better option to educate the users instead of taking things away so you can't do anything wrong.

i.e. one solution would be a (big) warning in the console if `NODE_ENV` is set to `dev`, which should never happen in production

[2018-01-17 20:32] DevanB commented on #125
@ForsakenHarmony

You can still use GraphQL Playground by specifying the playground endpoint. For example:

[code]

[2018-01-17 20:36] ForsakenHarmony commented on #125
`{ useGraphQLConfig: true, env: process.env }`

this is the main part that got removed, I still have the playground yes, but ( in the case of prisma )  I can't access the database anymore

[2018-01-17 20:47] schickling commented on #125
Sorry for the confusion @ForsakenHarmony. This was actually removed due to a security concern as this kind of environment information should never be accessible in a non-local deployment.

However, you can still very easily open a playground with access to all projects configured in your `.graphqlconfig` file by using the GraphQL CLI through running `graphql playground`.

I recommend you check out

[2018-01-17 20:47] #125 closed

[2018-01-17 20:48] ForsakenHarmony commented on #125
I don't want 2 servers running, I know why you did it

[2018-01-17 20:52] hoodsy opened #126 "Error: Field Query.user can only be defined once"
When upgrading from `0.8.0` -> `1.x.x`, I run into a number of errors when running a Query or Mutation:
[code]

Here's my server config:
[code]

I'm having a hard time identifying where the issue may be stemming from.

[2018-01-17 21:01] schickling commented on #125
There are two main reasons for this change:

1. It's a very severe security concern/risk that people accidentally set `NODE_ENV` to `dev` in production. (We've actually seen this happening a couple of times now.)
2. It couples Yoga (and the Playground) very closely to Prisma/Graphcool.

That being said, we'll look into ways how we can simplify this going forward. Do you have a concrete design sugg

[2018-01-17 21:03] ForsakenHarmony commented on #125
maybe allow users to pass playground options / extend the playground options

[2018-01-19 12:54] frontendmonster opened #130 "Please add reload schema support for HMR"
it could be awesome if support something like:
[code]

[2018-01-19 14:30] schickling commented on #130
Very interesting idea! I'd love to explore this a bit further. Ideally with a PR!

[2018-01-19 18:03] #126 closed

[2018-01-20 14:08] schickling opened #131 "Improve documentation around context function parameters"
The injected context function parameters differ between the Express vs Lambda based implementation of Yoga. The documentation around this should be improved.

[2018-01-21 15:38] tfiwm opened #133 "Authorization token is not forwarded to the subscription context"
I created a pull request with more information ;)

https://github.com/graphcool/graphql-yoga/pull/132

[2018-01-21 20:34] idibidiart commented on #121
I just ran into this too...

[2018-01-23 10:25] beebase opened #136 "server example with modules"
I was trying to use achieve this with
https://github.com/okgrow/merge-graphql-schemas
but I'm not sure if that's the right direction. There seem to be many ways to structure graphql servers.
Would be nice if one of the yoga server examples would show how to set up a modularised structure in front of the prisma API
[code]

src/index.js (server)
[code]

[2018-01-23 10:28] lukehedger opened #137 "What's the underscore _ parameter in the resolver function signature?"
Couldn't find any info on the underscore parameter seen in the examples and is `undefined` when logged.

What's it for?

[code]

[2018-01-23 16:37] kbrandwijk commented on #137
It's a placeholder for `parent`. In field-level resolvers, it contains the results of the parent resolver.
The full signature for a resolver function is `(parent, args, context, info) => {}`

[2018-01-23 17:02] lukehedger commented on #137
Ah gotcha - thanks @kbrandwijk, makes sense!

[2018-01-23 17:02] #137 closed

[2018-01-23 23:14] tfiwm commented on #101
For me it doesn't get fired :(

[2018-01-25 07:29] vjpr commented on #13
I already run a koa server and would like to add the middleware to koa.

How tightly bound to express is it? Would it work if I used a koa express wrapper like https://www.npmjs.com/package/express-to-koa?

[2018-01-25 19:41] schickling commented on #101
@tfiwm can you share a link to your repo so we can reproduce your issue?

[2018-01-25 19:49] marktani commented on #101
Might be related to this, @tfiwm: https://github.com/graphcool/prisma/issues/1734

[2018-01-26 15:15] kbrandwijk opened #142 "Add example for using custom directives"
@fabien0102 pointed out a library to use custom directives, that integrates very well with `graphql-yoga`. It would be great if that could be added to `howtographql` as a recipe: https://github.com/smooth-code/graphql-directive.

@fabien0102 feel free to share a code snippet in this issue. 🙏

[2018-01-26 15:18] fabien0102 commented on #142
This is my diff :wink:

[code]

[2018-01-26 15:21] fabien0102 commented on #142
Just for clarify, `{ user }` from to the context and `{ permission }` from the directive argument.

[2018-01-26 18:51] hoodsy commented on #101
I'm experiencing this as well:
[code]

[2018-01-28 11:28] tfiwm commented on #133
Access to connection parameters are available now.

See here https://github.com/graphcool/graphql-yoga/pull/132

We need to wait for a new version where it is included.

[2018-01-28 11:28] #133 closed

[2018-01-28 16:22] marktani commented on #101
@tfiwm found out that this is easily reproduced when refreshing the browser. Then a new connection is created, but old connections are _also_ set up again.

[2018-01-28 16:31] kbrandwijk commented on #101
Is this reproducable in the playground? Or just combined with the apollo-client?

[2018-01-28 16:37] marktani commented on #101
It's reproducible with this "subscription client": https://gist.github.com/marktani/5df524523693c88be425bfb623ca8b8a

[2018-01-28 16:46] marktani commented on #101
Note that this observation might be a different phenomenon than what @nikolasburk originally reported.

It might be two separate problems, client and server side.

[2018-01-28 17:52] kbrandwijk opened #144 "Support for extensions objects"
Add support for setting the extensions object. This is not available directly from the resolvers, so the best solution would be allowing setting `context.extensions` in the resolvers, and adding a function to the apollo-server options that moves these to `response.extensions`.

[2018-01-28 20:02] blocka commented on #27
The advanced TS boilerplate is not using `strict: true`, which takes away from some of the experience of TS.

Also, it's unclear how to type middleware on the graphql endpoint:

[code]

TS is not happy with this.

[2018-01-28 20:05] DevanB commented on #27
@blocka it’d be more relevant to submit this feedback/issue as an issue in the TypeScript boilerplate repository.

[2018-01-28 20:15] blocka commented on #27
https://github.com/graphql-boilerplates/typescript-graphql-server/issues/99

On Sun, Jan 28, 2018 at 3:05 PM, Devan Beitel <notifications@github.com>
wrote:

[2018-01-29 06:20] oxy88 commented on #101
https://github.com/oxy88/prisma_subscription
In my case,
1. [Prisma only] Subscription fires once
2. [Prisma with Apollo] Subscriptions fire multiple times
3. [Turn off Apollo] Subscriptions fire multiple times
4. [Turn off Apollo and restart Prisma] Subscription fires once

[2018-01-29 07:46] SebastianEdwards opened #145 "How to access Lambda event inside resolvers?"
Is it possible to access the lambda event (headers, etc.) inside resolvers? Can't see an obvious way.

[2018-01-29 08:23] microvnhaxor commented on #136
Refer

https://github.com/apollographql/apollo-server/issues/43

Hope it helps you

[2018-01-29 09:46] beebase commented on #136
I still don't see a decent solution for modularization with .graphql files.
At this point I would choose:
https://www.apollographql.com/docs/graphql-tools/generate-schema.html#modularizing
However the prisma API generates .grahpql files which I need to import into schema.grapql like
# import {Post} from

[2018-01-29 11:48] kbrandwijk commented on #101
@oxy88 Your steps description seems to indicate that `yoga` is not involved here?

[2018-01-29 14:40] schickling commented on #145
I agree, this should certainly be possible. Probably by exposing it on the `context` object?

[2018-01-29 20:48] SebastianEdwards commented on #145
I've read through the source code and it looks like a function passed in as the context has access to the event. The following sets the `APIGatewayEvent` as context.

[code]

Maybe this is more of a documentation or defaults issue.

[2018-01-31 09:37] tibotiber opened #148 "playground broken when not on localhost"
Hi, I'm trying to configure my playground for production where the base url is not localhost. I think it used to be possible via `endpoints` in `.graphqlconfig.yml` but that support has been removed. Is there any new configuration method that I have missed?

Might be addressed with #125, not sure if related to #82.

Thanks for your work :).

[2018-01-31 09:38] tibotiber commented on #121
@idibidiart do you mind expending on your solution?

[2018-01-31 11:48] tibotiber commented on #148
I figured it out finally, I was simply not looking in the good places (new to the playground). Documenting here in case anybody runs in the same problem.

1) when running with `NODE_ENV=dev`, the playground has a panel on the left which reflects the different projects and endpoints you have defined in `.graphqlconfig.yml`, simply click on your environment of choice and the playground will have the

[2018-01-31 11:48] #148 closed

[2018-01-31 12:13] giautm commented on #142
Hum, you can try the implements inside graphql-tools, by passing `directiveResolvers` to `makeExecutableSchema`.

[2018-01-31 13:12] kbrandwijk commented on #121
When you implement your resolvers, all 'standard' keys for it are available, so `fragment`, `resolve`, `__resolveType` and `__isTypeOf`:

https://github.com/apollographql/graphql-tools/blob/608414b0dfd2ff7ba8a27389e0bb8c400fb631c6/src/Interfaces.ts#L23-L28

[2018-01-31 15:58] fabien0102 commented on #142
@giautm Sure, it was my first try, but with this simple solution I don't need to import `graphql-tools` and dealing with the schema import (so use the actual implementation of graphql-yoga instead of re-implement all the `makeExecutableSchema` parsing part (`fs`, dealing with `#import` …) ) :wink:

[2018-01-31 16:25] idibidiart commented on #121
Sorry didn’t see this before. I used __resolveType for efficient resolution. I assume isTypeOf is a hint field that has to be in the entity or API being queried but I’m not sure. I think you have to specify how to differentiate types. I’m not sure if GraphQL actually has pattern matching to resolve the different types in a Union all on its own. I don’t think that scales for long lists.

[2018-01-31 16:52] giautm commented on #142
I think `graphql-yoga` should allow to passing `directiveResolvers` to `makeExecutableSchema` as an option. 😄

[2018-02-01 02:26] giautm commented on #142
I open PR to allow passing `directiveResolvers ` as a prop. 😄
 https://github.com/graphcool/graphql-yoga/pull/152

[2018-02-01 07:59] pokorson opened #154 "Disable autoopen playground"
Hi, is it possible to disable auto-opening graphql-playground on server start?

[2018-02-01 09:19] marktani commented on #154
You can disable the Playground entirely, using the [`playground` option](https://github.com/graphcool/graphql-yoga#startoptions-options-callback-options-options--void----null-promisevoid) for the `start` method.

For me, starting a Yoga server does not automatically open a Playground. Can you elaborate what you mean by auto-opening?

[2018-02-01 09:34] pokorson commented on #154
Ok, sorry for being not descriptive from the beginning.
I see the part that starts playground is actually not `graphql-yoga` but script `"playground": "graphql playground",` and it gets called with `"dev": "npm-run-all --parallel start playground"`

And by auto-opening I mean when I run `graphql playground` in terminal it opens new tab every time. Is this a part of `graphql` or `graphql-playground

[2018-02-01 14:08] kbrandwijk commented on #154
This might be made into a command-line option for `graphql playground`, because that's the command actually opening the playground. Can this issue be moved to `graphql-cli` for that reason?

[2018-02-01 14:18] pokorson commented on #154
@kbrandwijk sure, linking issue here: https://github.com/graphql-cli/graphql-cli/issues/189

[2018-02-01 14:56] kbrandwijk commented on #154
@pokorson Thanks, closing it here...

[2018-02-01 14:56] #154 closed

[2018-02-02 12:44] hoodsy commented on #101
Anyone have an update here?

[2018-02-02 12:59] marktani commented on #101
We are currently looking into this with a fix coming up soon 🙂

[2018-02-02 19:19] maticzav commented on #121
Is there any example tackling basic `union` types?

[2018-02-04 15:15] giacomorebonato opened #156 "Unable to get session cookies to work"
I am trying to save some session data inside of a mutation.
This is how I set the middleware and how I pass the session to the context.
[code]

I successfully add values to the session object... but later on they are not present on the next requests (I am using the playground).
Is it a problem with my middleware configuration or something more?
In a plain Express JS app this configurations is work

[2018-02-05 07:23] timsuchanek commented on #101
I did a PR to graphql-tools, as soon as it's merged, the problem is fixed. https://github.com/apollographql/graphql-tools/pull/609

[2018-02-05 10:50] giacomorebonato commented on #156
I'll try to give a closer look during the week.

[2018-02-05 16:42] marktani commented on #101
The fix was merged and is available in version [`graphql-tools@2.20.0`](https://github.com/apollographql/graphql-tools/releases/tag/v2.20.0).

Thanks everyone for feedback and help to pinpoint this issue 🙌

[2018-02-05 16:42] #101 closed

[2018-02-06 13:09] hoodsy opened #158 "params.Body is required"
After upgrading to `1.2.0`, file uploading no longer works for me and throws: `params.Body is required` in my S3 upload logic.

I think it may be related to this commit: https://github.com/graphcool/graphql-yoga/commit/b963504dd586d869e57b101fb3347afc9fab2b59

[2018-02-06 13:13] marktani commented on #158
The commit you refer to was only released in `1.2.2`, not in `1.2.0`, [see here](https://github.com/graphcool/graphql-yoga/releases). What version did you upgrade from?

[2018-02-07 01:48] rafaelfbs opened #160 "Cannot set property 'Access-Control-Allow-Origin' of undefined"
When using `serverless invoke local`, server throws an error with message:

Serverless invoke does not add a default `headers` object, so we need to _null check_ it.

https://github.com/graphcool/graphql-yoga/blob/b88a1257a406c7fad18d405068a73bf21f6a0245/src/lambda.ts#L54

https://github.com/graphcool/graphql-yoga/blob/b88a1257a406c7fad18d405068a73bf21f6a0245/src/lambda.ts#L64

[2018-02-07 12:49] hoodsy commented on #158
Ah it looks like I was on `1.2.0` before upgrading

[2018-02-07 13:13] marktani commented on #158
Which means you are experiencing this problem in `1.2.2` I suppose?

[2018-02-07 13:29] #160 closed

[2018-02-08 13:11] hoodsy commented on #158
I guess so – I upgraded `graphql-yoga` and `prisma-binding` and encountered the issue, and rolled back the `graphql-yoga` version as a workaround.

[2018-02-09 18:52] marktani commented on #158
Can you share the code that results in this error? This will be super helpful in understanding what's going on 🙂

[2018-02-11 02:08] #158 closed

[2018-02-11 09:38] marktani commented on #158
@hoodsy did you find a solution? How does it look like? :)

[2018-02-11 15:04] hoodsy commented on #158
I saw this same error due to buggy app code, so writing this off to error
on my end, not graphql-yoga.

On Feb 11, 2018 4:38 AM, "Nilan Marktanner" <notifications@github.com>
wrote:

[2018-02-11 17:26] tfiwm opened #162 "Update to graphql 0.13.0 crashes subscriptions"
After updating to graphql-yoga to 1.2.5 subscriptions are not working anymore because of duplicated graphql version. And a lot of warnings are throwing on yarn installation -> i think that the deps are not compatible with 0.13.0

[code]

Cannot use GraphQLSchema “[object Object]” from another module or realm.↵↵Ensure that there is only one instance of “graphql” in the node_modules↵directory. If di

[2018-02-12 09:18] tfiwm commented on #162
After a rollback to a previous version it works again
my entries in the working version of package.json

[code]

[2018-02-12 18:54] ragzor commented on #162
Same Issue.

"dependencies": {
    "bcryptjs": "2.4.3",
    "graphql-yoga": "^1.2.5",
    "jsonwebtoken": "8.1.0",
    "prisma-binding": "^1.5.9"
  },
  "devDependencies": {
    "dotenv": "4.0.0",
    "nodemon": "1.14.10"
  }

[2018-02-13 01:49] oxy88 commented on #162
Same. I had to add resolutions graphql@0.12.3 in package.json and subscriptions don't work correctly

[2018-02-13 09:25] schickling commented on #162
We're looking into this! 🕵️

[2018-02-13 14:50] karloluis commented on #10
Would you please provide a link to the section in question? I could use some clarification.

[2018-02-13 14:57] schickling commented on #10
I agree, @karloluis. The context docs should be revisited and have their own subsection in the readme docs.

@nikolasburk will look into this.

[2018-02-13 17:38] ciocan opened #163 "How do I access headers sent inside a resolver?"

[2018-02-13 17:43] schickling commented on #163
[code]

[2018-02-13 17:44] #163 closed

[2018-02-13 17:59] patrickr opened #164 "Server Options fieldResolver Missing Documentation"
https://github.com/graphcool/graphql-yoga#startoptions-options-callback-options-options--void----null-promisevoid

The options object property fieldResolver is not documented, the current description is copied from upload above it

[2018-02-13 18:26] DevanB commented on #164
Hey @patrickr 👋

Thanks for the inquiry! `fieldResolver` is exposed to yoga `options`, because it comes from apollo-server by default. If you look in the table below the yoga options table (from the link you posted), you can find information about the `fieldResolver`. I think this answers your inquiry, but if not feel free to clarify and we will help!

[2018-02-14 01:00] mjdickinson opened #166 "Expose subscriptions configuration in start options"
Is there a way to enable keepAlive messages on the subscription server?

[2018-02-14 03:03] stephenlaughton opened #167 "Custom error"
Is it possible to throw custom Errors? I have defined a custom Error class, but none of the additional fields are being sent with the error response.

[2018-02-14 03:54] karloluis commented on #10
Trying to use `context` for development but I can't seem to find it at all. Any chance someone can point to where it currently is described? Maybe I'll get something done while the docs are reworked for this in particular. Thanks in advanced.

[2018-02-14 04:03] zifahm commented on #162
getting a similar error here https://imgur.com/a/nMqHG

[2018-02-14 06:06] pyros2097 commented on #10
This is how I use context,
[code]

[2018-02-14 10:16] fabien0102 commented on #142
https://github.com/fabien0102/graphql-yoga/tree/feature/custom-directives/examples/custom-directives

Waiting for merge 😉

[2018-02-14 14:13] schickling commented on #162
Can you all please try to update `prisma-binding` to the latest version? This should fix the issue.

[2018-02-14 14:13] #162 closed

[2018-02-14 14:26] schickling commented on #166
Can you elaborate a bit @mjdickinson?

[2018-02-14 14:28] schickling commented on #167
Can you describe your desired behaviour a bit more in detail by (1) showing the client code you'd like to use and (2) the GraphQL error response you'd like to see from a client's perspective?

[2018-02-14 16:35] mjdickinson commented on #166
My websocket connections are being disconnected after 60 seconds of
inactivity.  My current understanding is that I need to send keepalive
packets periodically in order to stop the load balancer from closing the
connection.  The GraphQL over WebSocket protocol uses
GQL_CONNECTION_KEEP_ALIVE messages for this purpose.

SubscriptionServer in subscription-transport-ws has a keepAlive option, but
it d

[2018-02-14 16:53] schickling commented on #166
Great point, this is indeed currently not possible to configure but needs to be. I suggest adding another sub-object to the `server.start(options)` object?

[2018-02-14 20:16] stephenlaughton commented on #167
@schickling sure!
server-side:
[code]
then on the client-side:
[code]

I know there are a few ways for that error to show up and apollo-client `ApolloError` gives you an array of `GraphqlError` objects (which aren't `Error` objects, but formatted custom `Objects`). But somewhere nested in that `ApolloError` it'd be nice to be able to access `AuthError.errorValues` from the server, but it looks lik

[2018-02-14 21:02] gihrig commented on #162
@schickling Works for me! 💯

Thanks! 🎉 ✨

[2018-02-14 22:06] patrickr commented on #164
@DevanB I am not specifically asking a question just noting the copy-paste repetition mistake  I found in the README while looking for something else. I should have been clearer about my link. I used that link because it was the closets to the issue but i am actually referring to the table bellow yoga-options.. fieldResolver is not described the description is copied from upload in the yoga-option

[2018-02-14 22:31] mjdickinson commented on #166
How about overloading the existing subscriptions option so it can be either
false, a String defining the endpoint or an options object?

On Wed, Feb 14, 2018 at 8:53 AM, Johannes Schickling <
notifications@github.com> wrote:

[2018-02-14 22:53] #164 closed

[2018-02-15 04:48] zifahm opened #170 "warning and error cant do simple signup mutation"
I am getting this error after doing prisma init , for node advanced boilerplate..
cant do a simple signup mutation.  i can only get stuff working after a rollback to previous version?..why so?   https://imgur.com/a/nMqHG

[code]

my package.json
[code]

[2018-02-15 09:37] schickling commented on #170
Thanks for reporting @zifahm. Can you provide a repository which I can use to reproduce the problem?

[2018-02-15 09:38] schickling commented on #166
Yup, I like that. Can you create a PR for this?

[2018-02-15 10:04] ciocan opened #172 "How do I use GraphQLServerLambda with apex up?"

[2018-02-15 10:16] schickling commented on #172
Thanks for bringing up this question. Would be great if someone would be open to create an example for using `up` and opens a PR. 💯

[2018-02-15 10:53] marktani commented on #172
@maxdarque created a great one here: https://github.com/maxdarque/up-graphql-yoga-server-example

[2018-02-15 11:16] jfcieslak opened #173 "types.d.ts cannot find one of the imports"
after installing graphql-yoga and it's deps, I get this error.
[code]
I am using GraphQLServerLambda.
This error also appears on your examples/lambda-typescript/ install.
I checked the node_modules folder, and indeed there is no such module as `graphql-subscriptions/dist/subscriptions-manager` to be imported.
It's not breaking error, but annoying nonetheless :)

[2018-02-15 11:30] zifahm commented on #170
@schickling restarted server after rebooting my pc , issue seems to have disappeared ?

[2018-02-15 11:30] #170 closed

[2018-02-15 11:59] schickling commented on #170
Classic 😎

[2018-02-15 12:00] schickling commented on #173
Thanks for reporting @jfcieslak. Can you check whether you can reproduce this with any of the example apps in this repo?

[2018-02-15 12:02] jfcieslak commented on #173
yes, the examples/lambda-typescript/ has the same error.

[2018-02-15 12:09] schickling commented on #173
Would be great if someone could look into this! 🙌

[2018-02-15 12:18] fabien0102 commented on #167
@stephenlaughton can you setup a little [launchpad](https://launchpad.graphql.com/new)? with your example? So it's easier to test, try etc :wink: (not really have the time to setup an env today ^^)

[2018-02-15 13:36] schickling opened #174 "Support graphql-deduplicator out-of-the-box"
[graphql-deduplicator](https://github.com/gajus/graphql-deduplicator) is a great library to optimize your GraphQL requests given your GraphQL client supports the feature (Apollo Client has built-in support).

I suggest supporting `graphql-deduplicator` out-of-the-box with Yoga when the `?deduplicate=1` query parameter is set like described in the readme.

Would be great if someone could create a P

[2018-02-15 13:45] schickling commented on #55
Any update on this @kbrandwijk?

[2018-02-15 13:57] schickling opened #175 "Caching for GraphQL servers"
While building GraphQL servers has become very easy, caching in GraphQL servers is still a fairly unexplored topic.

To start a conversation around this topic, I've listed a few ideas that came to mind. Ideally some of these ideas might eventually turn into actual libraries the GraphQL community can use:

## Ideas:

1. Declarative caching system based on SDL directives (field/resolver or type leve

[2018-02-15 15:06] kbrandwijk commented on #55
@schickling On my list for this weekend.

[2018-02-15 18:39] maxdarque commented on #172
@ciocan FYI you need to use `GraphQLServer` (not `graphqlLambda`). See [src/index.ts](https://github.com/maxdarque/up-graphql-yoga-server-example/blob/master/src/index.ts)

[2018-02-15 19:25] akoenig commented on #173
@schickling I looked into this and figured that the [graphql-subscriptions tags](https://github.com/apollographql/graphql-subscriptions/tags) states that the last release is `0.5.6`. Unfortunately, a `npm view graphql-subscriptions` indicates that `0.5.7` has been released on February, 12th 😢

[code]

The type definition changed in this release. A workaround would be to pin the version of `graphql

[2018-02-15 20:04] schickling commented on #173
Let's wait until Apollo has released a new version which should fix this problem. Thanks for investigating @akoenig!

[2018-02-16 18:26] maticzav opened #177 "Possible Resolver Types"
Hi 👋,

while looking at the source code of `graphql-yoga` and `graphql-js` I found out that resolvers can take different "shapes".

So far, I have found `GraphQLFieldResolver` and `GraphQLScalarType` which have very similar structure, `IResolverOptions` which handles subscriptions,  and a special case when using `Fragments`.

[code]

Are there any other types/cases?

### EDIT:
`withFragment`
[code

[2018-02-16 23:40] Fi1osof opened #179 "POST body missing. Did you forget use body-parser middleware?"
Post application/x-www-form-urlencoded error on graphql-yoga@1.2.4

On graphql-yoga@1.2.0 all OK.

[2018-02-17 12:29] tfiwm opened #180 "Breaking builds since graphql-subscriptions new release"
There is a new release of graphql-subscriptions which breaks a build with graphql-yoga. This issue is just to be aware of an fix from apollo

https://github.com/apollographql/graphql-subscriptions/issues/138

So if some one gets following error:

[code]

We need to wait till they fix it with a new version!

Fix till then -> add fix version
[code]

to your package.json

[2018-02-17 13:12] marktani commented on #180
Thanks @tfiwm! 🙂
For anyone interested, this is related to #173.

[2018-02-17 15:28] schickling commented on #177
Besides the ones you've already listed, I'm not aware of other resolver shapes. Maybe @freiksenet and @IvanGoncharov can comment here?

@maticzav would be great if you could add an example of each in your comment above.

[2018-02-17 15:29] schickling commented on #179
Can you provide a repository URL for production?

[2018-02-18 04:51] Fi1osof commented on #179
@schickling
https://github.com/Fi1osof/cryptobook.cloud
Change here https://github.com/Fi1osof/cryptobook.cloud/blob/master/src/index.js#L28 on endpoint="http://localhost:4000/"
In server path yarn add graphql-yoga@1.2.4
Reproduce: https://youtu.be/rqlRGR02pK4 (see request log on image upload).

[2018-02-18 22:10] #179 closed

[2018-02-19 02:09] steida opened #182 "Why version 1.3.3 depends on aws?"
![screen shot 2018-02-19 at 03 08 08](https://user-images.githubusercontent.com/66249/36360229-3eaab43c-1522-11e8-851d-7af0d09c40d4.png)
![screen shot 2018-02-19 at 03 08 17](https://user-images.githubusercontent.com/66249/36360233-42b0a550-1522-11e8-9201-495d330c9e1a.png)

[2018-02-19 04:02] DevanB commented on #182
This is because Yoga supports deploying to AWS Lambda, and `graphql-playground-middleware-lambda` requires the `aws-lambda` package. See this PR thread for more information: https://github.com/graphcool/graphql-yoga/pull/115

[2018-02-19 14:29] #182 closed

[2018-02-19 19:00] maticzav commented on #177
@schickling thanks, I just did.

One other question though is it preferred to keep the strict structure of `IResolverOptions` or could I just use spread, to add all the remaining fields to the resolver.

[code]

Maybe you know of an even better solution? 🙂

[2018-02-19 19:33] schickling commented on #177
I'd love to hear @IvanGoncharov's thoughts on this as he's very familiar with the graphql-js implementation.

[2018-02-19 20:37] IvanGoncharov commented on #177
@schickling I'm not familiar with `graphql-yoga` so I'm out of context here.
Can you please rephrase the question in terms of `graphql-js`?

[2018-02-20 10:39] kachkaev commented on #38
Same issue now, but with graphql 0.13 instead of 0.12 😃  after https://github.com/graphcool/graphql-yoga/pull/127

[code]

[2018-02-20 10:59] schickling commented on #38
All of these are packages maintained by @apollographql. Would be great if you could create PRs in these repositories or ping them to keep them up to date. 👍

[2018-02-20 19:14] lewisblackwood commented on #162
👋I'm seeing the same error using the `typescript-advanced` Prisma boilerplate, with latest versions installed.

My dependencies look like this:

[code]

[2018-02-21 15:37] niclone commented on #162
Hi,

I had the same problem, finally solved by removing yarn (sudo npm remove -g yarn) before prisma init, and then install it again (sudo npm install -g yarn) before "yarn dev"...

[2018-02-21 15:42] schickling commented on #162
For everyone still having problems with this, please try the following things if the error still appears:

- `yarn upgrade-interactive --latest` and make sure you're running the newest version of the following packages (if used)
  - `prisma-binding`
  - `graphql-yoga`
  - `prisma`
  - `graphql-cli`
- `rm -rf node_modules`
- `yarn install`

[2018-02-21 15:42] schickling commented on #162
@niclone glad it works for you now, reinstalling `yarn` should actually not be necessary.

Hopefully this all will go a lot smoother for future `graphql` releases.

[2018-02-21 15:49] niclone commented on #162
@schickling : resintall yarn is not the solution, the solution is to have it UNINSTALLED during prisma init.

[2018-02-21 17:13] marcote opened #183 "Incorrect url in apollo engine readme"
Hi there.
In several Readme.md files the git clone url is incorrect. Should be for example:

[code]

instead of :

[code]

[2018-02-21 17:30] DevanB commented on #183
The `.git` isn’t actually needed to clone a repository.

[2018-02-21 17:36] marcote commented on #183
Yep, I thought the same thing but:
[code]

[2018-02-21 17:37] DevanB commented on #183
Ah, maybe it is the trailing forward slash. Nonetheless, it’s merged now :)

[2018-02-21 17:37] #183 closed

[2018-02-21 17:38] marcote commented on #183
Thanks!!

[2018-02-21 17:38] DevanB commented on #183
Thanks for correcting it!

[2018-02-21 18:47] iamclaytonray commented on #162
I wish I could find the relevant issue but I haven't been able to find it...

From what I remember, the issue is that Yarn tries to install `graphql` multiple times, at different versions. You'll find that `rm -rf node_modules && npm i` works perfectly, regardless of what `graphql` version you have. I'll try to find it again, again

[2018-02-21 19:04] tobkle commented on #162
**This doesn't work:**
[code]
I'm still getting the duplicate graphql error.

**But this works:**
[code]
**or you add to package.json:**
[code]

[2018-02-21 19:32] gihrig commented on #162
Sounds like you may need to clear yarn's cache

`yarn cache clean`

[2018-02-21 19:38] schickling commented on #162
Thanks for pointing this out @tobkle. Add the following to your `package.json` and run `yarn install`. This should fix the problem:

[code]

[2018-02-21 22:28] eduardomoroni opened #185 "Array syntax for typeDefs argument not supported"
I'm working on migrating an apollo graphql server to `graphql-yoga`, I'm strugling with modularizing schemas. like described [HERE](https://www.apollographql.com/docs/graphql-tools/generate-schema.html#modularizing).

I know it's possible to keep using `new GraphQLServer` passing a `GraphQLSchema` instead of passing `typeDefs` and `resolvers`.

I'm following same approach as above I'm getting this

[2018-02-22 00:07] kbrandwijk commented on #185
The best way to modularize your schemas is by using `graphql-import`. You can split your schema into as many different files as you want that way, and import them into your final schema.

Also, you can pass both a `string` and a filename to `typeDefs`, so if you are using `graphql-import`, you can just pass in the filename to that schema file.

[2018-02-22 06:51] the-simian commented on #162
@schickling I am still getting this very issue, even after adding the resolutions property to the package.json.

The *only* thing that worked for me was downgrading to 1.2.4, anything higher woudl always cause the issue.

I also had to use `npm -i` instead of yarn as well.

[2018-02-22 09:40] schickling commented on #185
While I agree with @kbrandwijk suggestion as the better approach, we should also support the syntax described in the Apollo docs to make the migration easier for people.

Would be great if someone could create a PR for this. 🙌

[2018-02-22 14:45] kbrandwijk commented on #185
Passing in an array of typeDefs and simply concatenating them like `graphql-tools` does is the worst possible way to combine schema parts. Supporting that greatly undermines the use of `graphql-import`.

[2018-02-22 16:14] schickling commented on #185
I see what you're saying @kbrandwijk but it still makes it easier for people to incrementally migrate which is very important. However, we just improve documentation around best practices that people see how this would work with `graphql-import`.

[2018-02-22 16:28] eduardomoroni commented on #185
A simple approach such as checking whether the type of typedefs is an array and then reduce it into a single typedef would solve this issue?
I could take a look at this

[2018-02-22 16:39] schickling commented on #185
I think that would be great @eduardomoroni. Can you open a PR for this?

[2018-02-22 17:51] akoenig commented on #173
@schickling According to https://github.com/apollographql/graphql-subscriptions/issues/138#issuecomment-367659256, the inclusion of the subscription manager was a mistake in the `0.5.x` line - Therefore, we have to rewrite the part here: https://github.com/graphcool/graphql-yoga/blob/745991ee2ae7e124860dbea74a07f577864fb207/src/types.ts#L12 and adjust the `ContextParameters`. For me, this seems li

[2018-02-22 18:31] Hendrixer commented on #175
RIght now, there's the Apollo Caching system. However, there isn't any open source projects that I know of that implement this. Only Apollo Engine, which is a black box.

Caching on the edge is also important. That is probably beyond the implementation of Yoga, but should be considered when building something out.

[2018-02-22 18:33] Hendrixer commented on #175
Caching built into the bindings makes more since for me than caching the queries themselves.

1. Would allow more control over when and how to clear the cache.
2. Other queries using the same binding could use the same cached resource

[2018-02-22 21:04] eduardomoroni commented on #185
Sure thing!
https://github.com/graphcool/graphql-yoga/pull/186

[2018-02-22 21:06] eduardomoroni commented on #185
@kbrandwijk
 Looking at the code I figured out that we could use `graphql-import` on the fly, just passing path as `typeDefs` params.

Is there any example to do so? I think it could be LOT useful having this as part of README.md

[2018-02-22 21:10] eduardomoroni commented on #185
I know that using `graphql-import` is better than using another modularize approach. But if you want to help people to join `graphql-yoga` things should be more intuitive.
I think that accepting `graphql-tools`' way of modularizing schema will make yoga friendlier

[2018-02-23 09:30] #173 closed

[2018-02-23 09:31] schickling commented on #173
This should be fixed in `1.3.4`. Please let us know if this is still a problem.

Thanks a lot @akoenig for digging into this. 🙏

[2018-02-23 09:32] schickling commented on #180
This should be fixed in `1.3.4`. Please let us know if this is still a problem.

[2018-02-23 09:32] #180 closed

[2018-02-23 09:40] Huvik commented on #173
I tested it right now and it works ❤️

[2018-02-23 10:12] akoenig commented on #173
@schickling Ahh, seems like I was riding the wrong train. Fixed for me as well. Thanks :)

[2018-02-24 17:45] #185 closed

[2018-02-24 19:01] picosam opened #192 "Changing the default NODE_ENV from dev to another value"
Hello, by default, a `typescript-advanced` boilerplate project generates the following line in the `.env` file:
[code]
Question: if I change the above to any other value, what side-effects, if any?

[2018-02-24 19:04] schickling commented on #192
Thanks for raising this question @picosam. `NODE_ENV` seems to be a relict from the past and I've just removed it from the TypeScript boilerplate. You can safely remove it.

[2018-02-24 19:04] #192 closed

[2018-02-25 16:53] schickling commented on #162
By now all packages have been updated, so with the newest package versions this should now work even without the `resolutions` addition.

[2018-02-26 10:09] marktani commented on #162
For anyone still running into this, upgrading `yarn` from `0.27.5` to `1.3.2` fixed it for me.

[2018-02-28 20:35] adamjv90 opened #197 "Scaling?"
Is it possible to horizontally scale graphql-yoga?

[2018-02-28 21:48] schickling commented on #197
Yes, you can deploy it on AWS Lambda which scales horizontally out-of-the-box or to any other deployment target.

[2018-02-28 21:48] #197 closed

[2018-03-02 15:09] marktani opened #199 "throw from resolver should not be logged"
@steida commented on [Mon Feb 26 2018](https://github.com/graphcool/prisma/issues/1978)

Maybe I am wrong, but

[code]

Seems to be a recommended way how to stop resolver, but then probably this should not be logged.

![screen shot 2018-02-26 at 02 03 45](https://user-images.githubusercontent.com/66249/36648920-5229bac2-1a99-11e8-9018-0db7286ad8ab.png)

[2018-03-07 07:05] 2wce opened #200 "Add Custom PubSub Implementation"
I have been trying to port an existing project to graphql-yoga and I'm loving the simplicity of everything so far. However I'm having trouble adding a custom PubSub implementation for my subscriptions.

Is it possible to use something like [graphql-redis-subscriptions](https://github.com/davidyaha/graphql-redis-subscriptions) instead of the default implementation which is from graphql-subscription

[2018-03-07 22:43] schickling commented on #200
That's a great point @2wce. This is not yet possible but I agree that it should be supported.

Do you have some thoughts on how the API should look like?

[2018-03-08 21:01] mjdickinson commented on #200
Wouldn't you just use graphql-redis-subscriptions instead of PubSub exported by graphql-yoga?  As far as I can tell, graphql-yoga is only bundling and exporting graphql-subscriptions as a convenience - it doesn't actually depend upon it.

Am I missing something?

[2018-03-08 21:05] mjdickinson opened #201 "Expose more subscription server options"
I need access to onConnect for verifying the access token on a websocket connection. Then I need access to onDisconnect to perform some clean up when a websocket disconnects.

I opened a [PR](https://github.com/graphcool/graphql-yoga/pull/198).

[2018-03-08 21:47] schickling commented on #201
PR merged. ✅

[2018-03-08 21:47] #201 closed

[2018-03-08 21:58] schickling commented on #200
That's a great point @mjdickinson. Currently `PubSub` is indeed just exposed as convenience but it might make to remove this convenience to keep things simpler.

@2wce pls ignore my previous comment, @mjdickinson is right, this should already be possible like the following:

[code]

Please let us know if this didn't work or we misunderstood your question 🙂

[2018-03-08 21:58] #200 closed

[2018-03-08 22:01] mjdickinson opened #203 "Errors over websocket are not formatted."
GraphQL errors sent over websocket differ from those sent over HTTP because they are not processed by **_formatError_** (or **_defaultErrorFormatter_**).  Unfortunately, subscriptions-transport-ws is a bit of a mess regarding error formatting, but, there is a way to do it (see this [issue](https://github.com/apollographql/subscriptions-transport-ws/issues/182)).

I created a [PR](https://github.co

[2018-03-09 13:59] kbrandwijk opened #205 "Support files in typeDefs array syntax"
A recent PR introduced the ability to use an array of typeDefs. I think it would be a good addition to have that array syntax support an array of filenames too.

[2018-03-09 22:55] eliperelman commented on #121
@maticzav is this helpful?:

https://github.com/eliperelman/taskcluster-graphql-server/blob/679237debc15bd055e8448d71fac78c5b2df8a88/src/graphql/Tasks.graphql#L325-L331

https://github.com/eliperelman/taskcluster-graphql-server/blob/679237debc15bd055e8448d71fac78c5b2df8a88/src/resolvers/Tasks.js#L17-L36

[2018-03-10 23:56] maticzav commented on #121
@eliperelman this is super useful! Thanks!

[2018-03-11 09:14] kachkaev opened #207 "Tracing is incorrectly documented in README"
Looks like this description of tracing is currently inaccurate:

<img width="820" alt="screen shot 2018-03-11 at 10 06 20" src="https://user-images.githubusercontent.com/608862/37251623-e8b33cc8-2513-11e8-9257-74380b663934.png">

When a string is provided, a TypeScript error gets shown:

<img width="513" alt="screen shot 2018-03-11 at 10 09 33" src="https://user-images.githubusercontent.com/608862

[2018-03-11 11:56] schickling commented on #121
@eliperelman would you be open to adding an example via PR demonstrating how to use interfaces + unions?

[2018-03-13 16:20] Gipphe opened #210 "HTTPS"
Are there any plans to implement an HTTPS setup? As it currently stands, it is (as far as I can tell) no way to initialize `GraphQLServer` with HTTPS, or the `https` module for that matter.

[2018-03-13 20:20] orefalo commented on #210
IMHO, not required: can be easily done with a proxy. I will also argue a DMZ is required in a proper architecture.

IT is all above divide and conquer...

[2018-03-13 23:36] kvsm commented on #5
Just a note to say that Engine API has been replaced and now throws the following error:

`As of apollo-engine 1.x, the Engine class has been replaced with a simpler API. See https://www.apollographql.com/docs/engine/1.0-migration.html to learn how to migrate.`

I had a brief look, but I couldn't figure out how to integrate with the new ApolloEngine API.

[2018-03-14 07:46] kachkaev commented on #210
@Gipphe even if HTTPS becomes a part of GraphQL yoga, you'll still need it for other parts of your app (such as web frontend). The easiest way to enable HTTPS for all your workload is to run a reverse-proxy such as [traefik](https://github.com/containous/traefik) in front all of them.

[2018-03-14 18:47] douglaseggleton commented on #210
I had to run HTTPS everywhere which meant I ended up not using yoga due to this. It would have been a great help at the time. However, the service is running in a docker swarm - perhaps a proxy was the right answer. 🐢

[2018-03-14 18:53] kachkaev commented on #210
@douglaseggleton a proxy is the answer indeed. Without it, your apps have has to sit in their own domain because HTTPS certs are managed independently. With a ‘switchboard container’ that sits in front of all your Node.js apps (e.g. [traefik](https://github.com/containous/traefik)) you can have `https://example.com` resolved to your frontend while `https://example.com/graphql` pointing to your Gra

[2018-03-14 19:32] schickling commented on #210
While I completely agree that using a proxy is the preferred solution (especially given today's cloud offering like AWS API Gateway, `now` etc), I still think that this shouldn't be a entry barrier/blocker for people like @douglaseggleton or @Gipphe.

Let's try to see whether we can also support HTTPS without making graphql-yoga more complicated to use/understand. Does someone have some API sugges

[2018-03-14 20:17] douglaseggleton commented on #210
I could see this as part of the props passed to the start method. In the start method, we could check if https has been defined and create a https server instead.

i.e.
[code]

I am using self-signed certs as certificates are handled higher up by an infrastructure team. Requests go through several proxy/cache layers in order to get to the GraphQL API layer. The above would have been easy to config

[2018-03-15 04:46] LFP6 opened #211 "Document resolver function signature"
Unless I missed something, I can't seem to see a full description for each of the parameters in the resolver function signature. I only have a rough idea, so I'd really appreciate if this was added to the readme.

[2018-03-15 08:54] Gipphe commented on #210
While a reverse-proxy would certainly be _a_ solution, we have a desire to keep everything on HTTPS internally as well, preferably without having to use a reverse-proxy internally for each service. We are gradually replacing and "prettying up" old APIs with GraphQL implementations at our place, so I thank you for taking this into consideration, even though it fits only a very small subset of use-c

[2018-03-15 09:18] schickling commented on #210
@Gipphe fully agree! 👍

@douglaseggleton this looks great! Can you submit a PR for this? :shipit:

[2018-03-15 09:48] #210 closed

[2018-03-15 16:03] abelovic opened #213 "Cors issues"
I'm getting CORS issues when trying to call the server from apollo client running in a web page. The server was setup using this example: https://github.com/maxdarque/up-graphql-yoga-server-example

Failed to load https://10t6y41fnc.execute-api.us-east-1.amazonaws.com/development: Response to preflight request doesn't pass access control check: No 'Access-Control-Allow-Origin' header is present on

[2018-03-15 21:00] abelovic commented on #213
Solution here for those who are interested: https://github.com/maxdarque/up-graphql-yoga-server-example/issues/3

[2018-03-15 21:00] #213 closed

[2018-03-15 23:31] douglaseggleton commented on #100
This is how I have got access to the server instance in order to close it.
[code]

Then the following would go in your test file (or something similar):

[code]

[2018-03-16 19:47] jboothe commented on #136
@beebase Did you ever find a solution for modularization with graphql-yoga?

[2018-03-16 22:30] jboothe opened #214 "Modularized Resolvers and TypeDefs - Error: typeDefs.reduce is not a function"
I am trying to place resolvers and typeDefs in separate files using `merge-graphql-schemas`. They are successfully merged however, I am getting this error when they reach `new GraphQLServer({...})`. Any help would be appreciated.

### Error
[code]

### Files
I have 2  `.ts` resolvers and 2 `.graphql` typeDefs formatted like:

_#/resolvers/simple.resolver.ts_
[code]
_#/typeDefs/simple.typeDef.graph

[2018-03-17 19:20] schickling commented on #213
@abelovic can you quickly summarize the solution here in a comment?

[2018-03-17 19:24] jboothe commented on #214
Sure can. [https://github.com/jboothe/typeorm-graphql-demo](https://github.com/jboothe/typeorm-graphql-demo).

Thanks for taking a look.

[2018-03-17 20:01] #142 closed

[2018-03-17 20:02] #203 closed

[2018-03-17 20:13] schickling commented on #199
Thanks a lot for bringing this up @steida. If I'm not mistaken then it's actually not `graphql-yoga` which implements the error logging but one of the underlying GraphQL libraries (I guess `apollo-server-express`). We should dig a bit deeper into this and see where the logging originates.

Do you want a setting to disable error logging or rather an easy way to catch all of these errors and impleme

[2018-03-17 20:27] schickling commented on #100
Thanks a lot for providing an answer here @douglaseggleton. Does this answer your question @hobochild or do you have a suggestion on how the API could be improved?

[2018-03-18 03:49] steida commented on #199
I think business logic errors should not be handled as real app errors.

Maybe related: https://itnext.io/the-definitive-guide-to-handling-graphql-errors-e0c58b52b5e1

[2018-03-18 17:11] hobochild commented on #100
Ah interesting, I didn't see that `.start` returns the http instance. That works fine, thanks for the help! @douglaseggleton  @schickling

[2018-03-18 17:11] #100 closed

[2018-03-18 20:55] marcosfede commented on #5
Same problem here, seems that `Engine` is deprecated in favor of `ApolloEngine` I've not yet figured out how to integrate it with graphql-yoga

[2018-03-20 14:41] tsukhu opened #217 "Unable to get tracing working"
First of all thank you for this great project. It saves a lot of the boiler plate code.

I was trying to get the tracing working but seem to get this error even after defining tracing as `true`

I get this error
This GraphQL server doesn’t support tracing. See the following page for instructions:
https://github.com/apollographql/apollo-tracing

Here is the snippet
https://github.com/ERS-HCL/nxplor

[2018-03-20 18:16] hueezer opened #218 "Add support for schemaDirectives"
The latest version of graphql-tools adds support for Schema Directives.  It would be great to be able to use these directives when working with Prisma.
https://github.com/apollographql/graphql-tools/releases/tag/v2.23.0
https://www.apollographql.com/docs/graphql-tools/schema-directives.html#Using-schema-directives

[2018-03-21 03:32] kissmygritts commented on #136
@beebase why do you need to import post.graphql? Merging the schema will take care of this into a single schema declaration for the `GraphQLServer` command behind the scenes in `graphql-yoga`.

Based on your comments above it sounds like you have two directories with `.graphql` files? One with user defined schema, and a second with prisma defined schema.

[code]

If I am misunderstanding you and t

[2018-03-21 03:41] jboothe commented on #136
I have not been able to get `merge-graphql-schemas` to work with graphql-yoga. See #214

[2018-03-21 10:23] leonelpena commented on #5
Me too. Waiting to see some solution.

[2018-03-21 16:42] kachkaev commented on #218
Also keen to try `schemaDirectives` in my project ❤️

[2018-03-21 18:32] kachkaev commented on #218
@hueezer check out #219!

[2018-03-21 18:35] hueezer commented on #218
@kachkaev wohoo!  Upgrading graphql-tools to 2.3.1!

[2018-03-21 20:55] beebase commented on #136
@jboothe @kissmygritts  I paused my graphql project since my post end January. I was hitting a wall trying to modularise prisma. Tried different approaches but none of them worked for me.  Couldn't find any example code either.

[2018-03-21 21:02] jboothe commented on #136
Yeah, if I knew how to solve it I would gladly submit a PR example project. I find it hard to believe someone has not solved this.

[2018-03-22 01:45] darmie commented on #101
This problem still happens while using the managed Graphcool service

[2018-03-22 12:05] Huvik commented on #214
You should import it differently:
`import { default as typeDefs } from './typeDefs'`
because when you import it with require its in this shape:
[code]
so you need to add `.default`  or use import how i wrote on top :)

[2018-03-22 13:46] Huvik commented on #214
@marktani Wanted to add more insight. Your provided `Object` to `mergeTypeDefs` what is not supported. Currently is supported `string`, `array`, `documentNode`. So maybe there should be some better error handling to show proper error. So there is missing check for array and if it's not an array just throw error :) If somebody merge #220 I can do this fix and update documentation.

[2018-03-22 14:58] jboothe commented on #214
Thanks @Huvik 🎉 . Using that import syntax on both resolvers and typeDefs solved the issue.

[code]

[2018-03-22 15:00] marktani commented on #214
Great, thanks for the confirmation @jboothe! I am hoping this helps you progress with #136. I'd be curious to hear more about this.

@Huvik, it would be great if you can include the improvements you mentioned in a new PR.

Thanks all :raised_hands:

[2018-03-22 15:04] jboothe commented on #214
I'm on it. If it helps others remove that barrier, I'm glad to help.

[2018-03-22 15:04] #214 closed

[2018-03-25 06:12] chj-damon opened #227 "[Network error]: Error: GraphQL Error (Code: 405)"
I'm new about graphql and I'm following the steps of this article [https://www.howtographql.com/graphql-js/2-queries/](https://www.howtographql.com/graphql-js/2-queries/), which teaches how to graphql my application. the server is created by `graphql-yoga`.
here is what my `index.js` looks like:
[code]
and here is my `Query.js`：
[code]
and here is the `datamodel.graphql`:
[code]
after I started up

[2018-03-25 06:33] chj-damon commented on #227
I tried to add the `Hello world` example code in my project and it works fine. I think it's not about the `OPTIONS` method. The weird thing is I can actually mutate my database but I can't just query from it！

[2018-03-27 07:31] aogriffiths opened #229 "custom scalar"
Hi All

This is more of a question than an issue. How do I create a custom scalar with graphql-yoga? I have attempted to use GraphQLScalarType from 'graphql' along the following lines:

[code]
But the scalar value returns as null in all queries.

[2018-03-27 16:30] aogriffiths commented on #229
I made it work with something along the lines of this:

[code]

[2018-03-27 16:30] #229 closed

[2018-03-27 16:36] aogriffiths commented on #229
Also, for completeness, here's are some example graphql queries:

[code]
triggers `parseLiteral(literal)` with `literal.value="example\n"`

[code]
with:

[code]
triggers `parseValue(varaible)` with `varaible="example\n"`

[2018-03-27 20:21] #218 closed

[2018-03-28 04:38] corydeppen opened #232 "Expand port type to accept a string"
I've run into an issue deploying a GraphQL server on Azure. Since iisnode is used to run Node apps, the port is assigned to a named pipe instead of a number (see tjanczuk/iisnode#46). As a result, I see an error `RangeError: "port" argument must be >= 0 and < 65536` when the server tries to run.

I'm hoping you'll find it reasonable to modify the [`port` definition](https://github.com/graphcool/gr

[2018-03-28 14:28] marktani commented on #227
`endpoint: 'http://localhost:4466',` is not correct. Please enter the endpoint if your Prisma service. You can find that out by running `prisma info`. It should look something like this:

`http://localhost:4466/<service-name>/<stage>`

[2018-03-29 03:20] #205 closed

[2018-03-29 09:42] haoliangwu commented on #5
due to ``Engine`` is deprecated, I used ``ApolloEngineLuncher`` as proxy to work with ``graphql-yoga`` according to [the official docs](https://www.apollographql.com/docs/engine/setup-standalone.html#configure-proxy), hope for help.

[2018-03-29 13:03] goncy opened #235 "Quickstart hosted demo deployment is missing"
https://hello-world-myitqprcqm.now.sh/ gives a 404, just needs to be redeployed or updated?

[2018-03-29 19:45] schickling commented on #235
@nikolasburk can you re-deploy it and update the link?

[2018-03-30 01:54] chj-damon commented on #227
@marktani thanks. I found them under `database/prisma.yml`.
and there's an article about it:
[https://www.prisma.io/docs/quickstart/backend/node/node-phe8vai1oo](https://www.prisma.io/docs/quickstart/backend/node/node-phe8vai1oo)

[2018-03-30 01:54] #227 closed

[2018-03-31 23:08] schickling commented on #232
Thanks a lot for bringing this up @corydeppen. Just to clarify: When running the server via IIS under Windows the port will become a string?

[2018-04-02 01:14] tibotiber commented on #121
@schickling I've written a medium post covering Interfaces / Unions with Prisma & Yoga. Let me know which is the best way, if any, for me to help take parts of that and add to the docs. Also if there are any additions, clarifications, errors in my post, happy to correct things.

[2018-04-02 06:26] schickling commented on #121
Thanks a lot for this great blog post @tibotiber! Would be great if you could create a PR adding an example demonstrating how to use interfaces + unions. 🙏

[2018-04-02 06:31] schickling commented on #232
Sounds good! Yeah, would be great to have a PR for this.

[2018-04-02 09:06] endigo opened #236 "How to deploy on Google Cloud functions?"
There is only AWS lambda example.
How to deploy on Google or Firebase Cloud Functions?

[2018-04-02 09:53] schickling commented on #236
Great question! Would be great if someone would like to add an example containing deployment instructions in the corresponding readme.

[2018-04-02 17:03] #232 closed

[2018-04-03 11:56] abduncan commented on #232
I just ran into this! Glad to see its fixed already :D

[2018-04-03 20:17] bhoriuchi opened #240 "Support webpack-dev-server"
Because yoga instantiates its own server and express app it cannot be used with webpack-dev-server. In order to use graphql-yoga with webpack-dev-server yoga would need to be able to accept as arguments a server and express app when creating a server in the devServer before hook. Additionally when using the subscriptions option, the creation of the websocket server needs to wait until the devServe

[2018-04-05 05:06] LawJolla opened #242 "How to incorporate web socket middleware"
❤️Yoga!  Thanks for all of the hard work.

I'm trying to add a subscriptions authentication flow, and I like to do that with middleware.

I've tried to use `expressWs` to no avail...

[code]

In the debugger, ws is attached to `server.express.ws`, but I cannot get the callback to ever fire.  Am I going about this the wrong way?

As always, any help is greatly appreciated!

[2018-04-05 06:37] #136 closed

[2018-04-06 15:46] endigo commented on #236
In Google Cloud Functions we can deploy Express application as a handler for function.
But all important parts of graphql-yoga are in start() function.
If split that to another function it's available to deploy on GCF and FCF.

Thanks.

[2018-04-06 20:17] MoonTahoe commented on #5
I've attempted to use the Apollo Engine with GraphQL with the ApolloEngineLauncher as @haoliangwu recommended:

[code]

When I run the app locally I see these console logs when my GraphQL Yoga API starts.

[code]

The issue is, when I make queries of either `http://localhost:3000/graphql` or `http://locahost:4000` from the playground, I do not see anything on `engine.apollographql.com`. It just sa

[2018-04-07 16:03] schickling commented on #242
Can you further explain your subscription-based auth flow?

[2018-04-08 19:17] MoonTahoe commented on #5
Actually, the above code works. I'm not sure where the hiccup was, but today I noticed that I have data in Apollo Engine.

[2018-04-08 21:43] jakelacey2012 opened #246 "Add mocking."
I noticed after having a **quick** read of the documentation and the [code](https://github.com/graphcool/graphql-yoga/blob/master/src/index.ts#L72-L80) the there doesn't seem to be a way to mock the schema.

This is one of the reasons I love using Apollo Server and I personally see the value in adding this as it will allow me to focus on quickly prototyping on the client side. I guess I'm opening

[2018-04-09 08:09] schickling commented on #246
Absolutely! What's the API you're suggesting @jakelacey2012?

[2018-04-09 11:37] jhalborg commented on #122
@kbrandwijk - Any link to the WIP to see what's in the making? :-)

And +1 for Lambda use, @bkniffler

[2018-04-09 12:09] DakshMiglani commented on #122
### Ways to Authenticate

1. Express Session.
2. Manually Using Cookies.
3. JWT Directly.
4. JWT in Cookies.

[2018-04-09 13:09] oexza opened #247 "Multiple Schemas in one server."
I want to expose multiple schemas at different endpoints in a GraphQLServer. how can i achieve that?

[2018-04-09 13:13] schickling commented on #246
I think you're missing the `typeDefs` or `schema`. How about the following:

[code]

I'd set  `preserveResolvers: false` (like you suggested) but leave out the configuration option in `new GraphQLServer({ ... })` simply to keep it more lightweight. In case someone would need to still configure it, you could always do:

[code]

Would be great if you'd want to open a PR adding support for this + add

[2018-04-09 14:01] jakelacey2012 commented on #246
`mocks` being a boolean or an object and leaving out `preserverResolvers` from the config both sound good to me. Happy to look at creating a PR will let you know if I hit trouble.

[2018-04-09 14:45] kachkaev commented on #247
I guess you can run multiple servers with one schema in each and then make them available at URIs of your choice by means of a reverse proxy. Take a look at [Traefik](https://traefik.io) – it’s my personal choice.

[2018-04-09 15:56] bhoriuchi commented on #240
With regards to my use case which is using a graphql-yoga server in a project using vuejs webpack template for development, I think breaking out the different initialization tasks into class methods would allow me (and other use cases) to control the server initialization.

I have mocked up an example untested implementation here https://github.com/graphql-factory/graphql-yoga/blob/flame/src/index

[2018-04-09 16:26] LawJolla commented on #242
@schickling,

It's a little foggy in my mind, but I'm trying to duplicate the auth flow for http requests.

I'm in the "a malformed / expired token is a 401 error" camp.  So on the initial handshake, I'd like to validate a JWT token and attach a user object to the context.  I'm not sure how to do that without some form of middleware.

[2018-04-10 08:10] jeremie-stratumn opened #249 "High CPU usage"
Thanks for this amazing product and all your great work!

I noticed that when using the playground served by graphql-yoga, my CPU goes up the roof. I think it may be related to this issue:
https://github.com/graphcool/graphql-playground/issues/320
which has been fixed in electron and react packages, but I don't think it has been fixed in the graphql-playground-html package..

I am using graphql-yo

[2018-04-10 08:27] schickling opened #252 "The automated release is failing 🚨"
## :rotating_light: The automated release from the `master` branch failed. :rotating_light:

I recommend you give this issue a high priority, so other packages depending on you could benefit from your bug fixes and new features.

You can find below the list of errors reported by **semantic-release**. Each one of them has to be resolved in order to automatically publish your package. I’m sure you c

[2018-04-10 08:27] #252 closed

[2018-04-10 08:36] schickling commented on #249
I've just updated all dependencies of `graphql-yoga` and released `v1.8.4` which should fix this. Please let me know if this isn't solved yet!

[2018-04-10 08:36] #249 closed

[2018-04-10 08:40] jeremie-stratumn commented on #249
Yes I just saw that. Thanks for your reactivity. Problem is gone it seems.

[2018-04-11 12:44] DakshMiglani opened #255 "Credentials: true is not being passed to PlayGround."
To Authenticate with cookies, it should send all the cookies to the server but graphql-playground by default in graphql-yoga doesn't have credentials: true in it's fetch options and that's why the server doesn't receive any cookies.

[2018-04-11 12:54] DakshMiglani commented on #122
Express-Session Example: https://github.com/graphcool/graphql-yoga/pull/256

[2018-04-12 13:28] 19majkel94 opened #259 "Listening on port assigned by OS"
Hi!

Node.js has a ability to bind server port to "random" free port:
https://stackoverflow.com/a/28050404/5472617
It's useful e.g. in testing, our tests doesn't depend on other apps listening on 4000, etc.

However right now the returned `port` in callback comes from passed arguments, not from real listening port:
https://github.com/graphcool/graphql-yoga/blob/master/src/index.ts#L260

Could you

[2018-04-13 10:37] douglaseggleton opened #261 "HTTPS Key/Cert does options interface does not allow Buffer"
If using TypeScript, the following will not cause a type mismatch:

options.https = {
    key:  fs.readFileSync(process.env.SSL_KEY_PATH),
    cert: fs.readFileSync(process.env.SSL_CERT_PATH)
 };

The interface for the key and cert options accepts a string -  this should also allow a Buffer

[2018-04-15 09:03] jakelacey2012 commented on #246
If you could have a quick look at the PR ^^ @schickling that would be awesome! Please do let me know if you want me to make any changes.

![my-changes-cant](https://user-images.githubusercontent.com/5159616/38776754-2996f54a-4094-11e8-81f1-4d292fdb5ef4.jpg)

[2018-04-15 15:30] deadcoder0904 opened #263 "Incorrect Demo Link in README"
Demo Link under `Usage` > `Quickstart` ,i.e, `Hosted Demo` is pointing to https://hello-world-myitqprcqm.now.sh is incorrect

[2018-04-16 16:02] lfades commented on #166
@mjdickinson I can see this is already possible, can you close the issue now ?

[2018-04-17 11:41] divyenduz opened #265 "413 Payload Too Large - Option to change body-parser limit"
I am running to a `413 Payload Too Large` while using `graphql-yoga` directly.
My request payload size is around `~130KB`.

As I understand this is happening because we are using [`body-parser-graphql`](https://github.com/graphcool/graphql-yoga/blob/master/src/index.ts#L3) which [relies on](https://github.com/graphql-middleware/body-parser-graphql/blob/master/src/index.ts#L18) the [default `limit`

[2018-04-17 12:05] timsuchanek commented on #265
As we have to touch `body-parser-graphql` anyways, let's go for the clean option, which is 1)

[2018-04-17 16:34] divyenduz commented on #265
Related PRs
https://github.com/graphql-middleware/body-parser-graphql/pull/38
https://github.com/graphcool/graphql-yoga/pull/266

[2018-04-17 18:52] Globerada opened #267 "Playground not working in Lambda"
Functions deployed via 'serverless deploy -v' as example of '[serverless.yml](https://github.com/graphcool/graphql-yoga/blob/master/examples/lambda/serverless.yml)'
Event HTTP Post work greats.
However, when reaching URL via GET, playground says: 'Response not successful: Received status code 403'

[2018-04-18 01:52] mjdickinson commented on #166
Closed by [178](https://github.com/graphcool/graphql-yoga/pull/178)

[2018-04-18 01:52] #166 closed

[2018-04-18 15:47] robmurtagh commented on #267
Yes, I'm having exactly the same issue.

You can download the standalone playground though and that works fine when given the URL

https://github.com/graphcool/graphql-playground

[2018-04-18 15:55] c316 commented on #5
@MoonTahoe do you mind posting the rest of the code you use to setup the server and engine together? I've got it setup, but I'm not seeing any data on the Apollo engine site.

[2018-04-18 16:29] kachkaev commented on #5
@c316 feel free to check out an example in https://github.com/graphcool/graphql-yoga/pull/209. More specifically, [examples/apollo-engine/index.js](https://github.com/fabien0102/graphql-yoga/blob/64bccc0314405a4f3d2201942b4b6462c88be049/examples/apollo-engine/index.js).

That code uses the latest Apollo Engine, which is what you might want to use anyway. The disadvantage, however, is that the exam

[2018-04-18 17:46] c316 commented on #5
@kachkaev thanks

Should this also work with Prisma?

I've used the branch you mentioned in place of graphql-yoga and I'm getting an error.

const httpServer = graphQLServer.createHttpServer({
                                 ^

TypeError: graphQLServer.createHttpServer is not a function
    at Object.<anonymous> (/Users/bobby/Dev/coffee-admin/server/src/index.js:30:34)
    at Module._compile (int

[2018-04-18 17:57] kachkaev commented on #5
@c316 can you try `const httpServer = server.configure({`? I just check my own code and found out that this is what I'm currently using. We renamed `configure()` to `createHttpServer()` recently and this was not reflected in `@fabien0102/graphql-yoga`.

@fabien0102 could you please release v1.9.1 of your fork with with `createHttpServer()` instead of `configure()`? Keeping `configure()` as an alia

[2018-04-18 18:06] fabien0102 commented on #5
I will do this tomorrow morning (GMT +1) ;) I was also hoping for the merge :)

[2018-04-18 18:31] c316 commented on #5
@kachkaev That fixed the error, but I'm not seeing any data in the Engine UI.

[2018-04-18 19:14] kachkaev commented on #5
@c316 a quick checklist:

* Did you set up `ENGINE_API_KEY` environment variable before starting the server?
* Do you see ‘Server **with Apollo Engine** is running on port XYZ’ in stdout?
* Is the rest of stdout clear? (i.e. no errors from Engine saying it can't connect etc.)

You can have a look at my [WIP integration with Apollo Engine 1.0](https://gitlab.com/kachkaev/website-graphql-server/blob

[2018-04-18 20:03] lfades commented on #174
Hi @schickling I'll be working on this.

[2018-04-18 20:58] c316 commented on #5
@kachkaev

Thanks for helping me trace down the problem here. It turns out I needed to change the graphqlPaths to `graphqlPaths: ['/'],`, which is where the project's endpoint default is.

For anyone else getting here from a search, you might look at the endpoint in the .graphqlconfig.yml file and then the "endpoints: default: ..."

[2018-04-19 08:14] fabien0102 commented on #5
@c316 and @kachkaev  -> `@fabien0102/graphql-yoga@2.0.0` published (finally it's a breaking change for my fork, due to the `createSubscriptionServer` part ;) ) cf #209 :wink:

Migration guide between `@fabien0102/graphql-yoga@1.9.0` to `@fabien0102/graphql-yoga@2.0.0` :
- rename `graphQLServer.configure` to `graphQLServer.createHttpServer`
- remove the `graphQLServer.createSubscriptionServer` part

[2018-04-19 11:01] kachkaev commented on #5
@fabien0102 given that casting `httpServer` to `Server` will be always necessary, could you please add these comments to your #209 example?

[code]

Alternatively, you can add these instructions to the example's README. Otherwise, just seeing a TypeScript error and not having any guidance may require quite a bit of time to investigate it.

[2018-04-19 12:48] fabien0102 commented on #5
@kachkaev I will try to investigate to understand why typescript is not following here (the perfect solution is to have the correct output type regarding if you pass `options = {https: true}` or not) otherwise I will probably add a warn in the README ;)

Another option should be to add a real typescript example, but it's not really fit with the other examples available on this repository.

[2018-04-19 13:14] fabien0102 commented on #5
![image](https://user-images.githubusercontent.com/1761469/38993345-a9ff4a46-43e3-11e8-96a3-c2d121f5877e.png)

Nothing red! :tada:

[2018-04-21 01:33] loicplaire opened #273 "Apollo Engine cacheControl directive not found in schema.graphql"
I setup a repository with an example of the issue I am running into: https://github.com/loicplaire/graphql-yoga-engine-issue

When I use the `@cacheControl` directive in my `schema.graphql` file, I get the following error:

[code]

My assumption is that [`graphql-import`](https://github.com/graphcool/graphql-import) only understands [built-in directives](https://github.com/graphcool/graphql-import

[2018-04-22 22:02] rainwater11 opened #277 "Connect MongoDB to graphql-yoga"
How can I connect my existing MongoDB database to graphql-yoga? Thanks in advance!

[2018-04-22 23:15] jonathanrz opened #278 "Apollo Engine example outdated"
The [Apollo Engine example](https://github.com/graphcool/graphql-yoga/tree/master/examples/apollo-engine) is outdated.

It is using apollo engine 0.8.5 and apollo engine has currently released version 1.0.0 (1.1.0 now) with breaking changes.

[2018-04-23 06:53] kachkaev commented on #278
It's been updated in https://github.com/graphcool/graphql-yoga/pull/209. We're just waiting for repo owners to approve that PR and release a new version of graphql-yoga 😉

[2018-04-23 09:43] marktani commented on #277
Thanks for bringing this up, @rainwater11 🙂
The upcoming [MongoDB connector for Prisma](https://github.com/graphcool/prisma/issues/1643) provides a convenient and powerful way to connect a MongoDB to GraphQL Yoga.

[2018-04-23 10:35] jonathanrz commented on #278
@kachkaev thanks :D

[2018-04-23 10:35] #278 closed

[2018-04-24 10:57] nsignes commented on #267
Thought I might comment as I'm having a similar issue that I think likely to be related : Once I fix the URL inside the playground address bar, I can access the playground and run queries, but opening the schema doesn't work.

This appeared in v1.8.3 and based on the console traces, it seems that graphql playground always try to reach the "wrong" URL (the one without production/staging at the end)

[2018-04-25 09:42] hereisnaman commented on #5
@fabien0102 by when can this be officially released.

[2018-04-25 11:17] fabien0102 commented on #277
@rainwater11 You just need to do your classic mongodb connection and give the result to the `context`. After you can retrieve your instance to any resolvers 😃

Quick example:
[code]

More information about graphql and mongodb toguether here -> https://medium.com/the-ideal-system/graphql-and-mongodb-a-quick-example-34643e637e49

[2018-04-25 14:45] fabien0102 commented on #5
@hereisnaman Good question! My PR #209 is ready, and I'm just waiting as you ;) after my npm fork is available if you have any needs (it strictly following the semver rules, so I'm on the v3.0.0 ^^)

[2018-04-25 14:47] hereisnaman commented on #5
Okay, thanks for the work. I am currently using your fork.

[2018-04-25 18:42] JorgeCeja commented on #277
@fabien0102 Thanks for sharing! The funny part is that I am doing the same thing for PostgreSQL 😄 Going through the docs and repo gave me the idea of giving it a shot.

[2018-04-26 09:15] marktani opened #281 "Can't change default port for server"
@darmie commented on [Wed Apr 25 2018](https://github.com/graphcool/prisma/issues/2264)

# Bug Report

**Current behavior**
Prisma app server not running on set port
**Reproduction**
Simply change NODE_PORT value  in .env file
**Expected behavior?**
Server should run on set port

---

@marktani commented on [Thu Apr 26 2018](https://github.com/graphcool/prisma/issues/2264#issuecomment-384281943)

[2018-04-26 13:56] jakelacey2012 commented on #246
@schickling is there anything I can do to accelerate this getting reviewed and merged, other wise I'm likely to forget that I ever did this xD haha.

[2018-04-26 14:21] schickling opened #284 "The automated release is failing 🚨"
## :rotating_light: The automated release from the `master` branch failed. :rotating_light:

I recommend you give this issue a high priority, so other packages depending on you could benefit from your bug fixes and new features.

You can find below the list of errors reported by **semantic-release**. Each one of them has to be resolved in order to automatically publish your package. I’m sure you c

[2018-04-26 14:46] #284 closed

[2018-04-26 15:03] marktani commented on #277
That's awesome @JorgeCeja! I'd love to hear your opinion on the [Prisma Postgres Connector](https://github.com/graphcool/prisma/issues/1641) which is available in an alpha preview as of now.

It'd be interesting to hear your perspective on the difference in terms of development speed and any suggestions you have for the connector itself 🙂

[2018-04-26 15:30] efleurine opened #287 "Apollo Engine Example"
I run into this issue regarding the Example with Apollo Engine - (Because I install the lastest version of Apollo Engine) `"apollo-engine": "^1.1.0",`

```throw new Error(`As of apollo-engine 1.x, the Engine class has been replaced with a simpler API. See https://www.apollographql.com/docs/engine/1.0-migration.html     to learn how to migrate.`);```

So I tried and come up with this solution

[cod

[2018-04-26 15:41] douglaseggleton opened #288 "getEndpoint is not optional on the Options interface"
In the latest version, I had compile errors due to the getEndpoint being required in the options interface. Ideally this should be optional as there is a default set.

src/server.ts(14,14): error TS2322: Type '{}' is not assignable to type 'Options'.
  Property 'getEndpoint' is missing in type '{}'.

[2018-04-26 15:44] douglaseggleton commented on #288
👷https://github.com/graphcool/graphql-yoga/pull/289

[2018-04-26 15:47] kachkaev commented on #287
@efleurine are you using the very latest example that just got merged about an hour ago? (https://github.com/graphcool/graphql-yoga/pull/209)?

[2018-04-26 18:55] #288 closed

[2018-04-26 19:02] schickling commented on #263
Fixed.

[2018-04-26 19:02] #263 closed

[2018-04-26 19:03] schickling commented on #259
That definitely sounds useful. Would you mind creating a PR for this? @19majkel94

[2018-04-27 08:56] vistriter commented on #287
If I use your example to my work I must change createHttp to port 4004 in my frontend. Right?

<img width="718" alt="screen shot 2561-04-27 at 15 55 56" src="https://user-images.githubusercontent.com/24702575/39354016-8896d094-4a33-11e8-89e0-35c378cf6461.png">

[2018-04-27 16:55] kachkaev commented on #287
Feel free to close this issue once things work OK! Also let know if you experience any issues.

[2018-04-27 18:56] kachkaev commented on #287
So does your server look similar to this now?
https://github.com/graphcool/graphql-yoga/blob/master/examples/apollo-engine/index.js

That looks like a more or less optimal way for setting up GraphQL Yoga with Apollo Engine v1+.

[2018-04-27 19:06] kMeillet commented on #281
Any news ? This problem is very annoying especially for testing.

[2018-04-28 12:32] schickling opened #294 "The automated release is failing 🚨"
## :rotating_light: The automated release from the `master` branch failed. :rotating_light:

I recommend you give this issue a high priority, so other packages depending on you could benefit from your bug fixes and new features.

You can find below the list of errors reported by **semantic-release**. Each one of them has to be resolved in order to automatically publish your package. I’m sure you c

[2018-04-28 12:32] #259 closed

[2018-04-28 12:32] schickling commented on #294
## :rotating_light: The automated release from the `master` branch failed. :rotating_light:

I recommend you give this issue a high priority, so other packages depending on you could benefit from your bug fixes and new features.

You can find below the list of errors reported by **semantic-release**. Each one of them has to be resolved in order to automatically publish your package. I’m sure you c

[2018-04-28 12:33] schickling commented on #259
:tada: This issue has been resolved in version 1.12.2 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/graphql-yoga)
- [GitHub release](https://github.com/graphcool/graphql-yoga/releases/tag/v1.12.2)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2018-04-28 12:33] #294 closed

[2018-04-28 12:35] schickling opened #295 "The automated release is failing 🚨"
## :rotating_light: The automated release from the `master` branch failed. :rotating_light:

I recommend you give this issue a high priority, so other packages depending on you could benefit from your bug fixes and new features.

You can find below the list of errors reported by **semantic-release**. Each one of them has to be resolved in order to automatically publish your package. I’m sure you c

[2018-04-28 12:35] #295 closed

[2018-04-28 13:13] renovate[bot] opened #296 "Action Required: Fix Renovate Configuration"
There is an error with this repository's Renovate configuration that needs to be fixed. As a precaution, Renovate will stop PRs until it is resolved.

Location: `renovate.json`
Error type: The renovate configuration file contains some invalid settings
Message: packageRules[0]: Each packageRule must contain at least one match* or exclude* selector. Rule: {"groupName":"envelop"}, packageRules[1]: Ea

[2018-04-28 16:20] kurniawanw0194 opened #297 "Cannot find module 'graphql-yoga'"
Steps to reproduce:
1. `mkdir playground`
2. `cd playground`
3. `yarn init -y`
4. `yarn add graphql-yoga`
5. `node`
6. `require('graphql-yoga')`

[code]

Node v9.10.1
Yarn v1.6.0

[2018-04-28 16:39] kachkaev commented on #297
This can be true 😨

Yoga's `package.json` mentions `"main": "dist/src/index.js"`, while the tree looks like so:

<img width="256" alt="screen shot 2018-04-28 at 17 37 51" src="https://user-images.githubusercontent.com/608862/39398799-efef4b22-4b0a-11e8-9729-9bc857d25fde.png">

Most probable cause is [this change](https://github.com/graphcool/graphql-yoga/pull/283/files#diff-e5e546dd2eb0351f813d63d

[2018-04-28 16:42] kachkaev commented on #297
@kurniawanw0194 does installing `graphql-yoga@0.12` solve the issue for you? This may work as a temporary workaround, you'll just not get `graphql-deduplicator` introduced earlier today via https://github.com/graphcool/graphql-yoga/pull/272

[2018-04-28 17:09] BenDiuguid commented on #297
I believe @kachkaev meant `graphql-yoga@1.12.1`? This is the latest version that I could get to work this morning. Also manually changing the `package.json` main field from `"main": "dist/src/index.js"` to `"main": "dist/index.js"` solved the problem with the latest `graphql-yoga` but I'm not sure if that would break other things?

[2018-04-28 17:14] notrab commented on #297
Same issue.

[2018-04-28 17:34] kachkaev commented on #297
I think the best to stick with `graphql-yoga@1.12.1` for now. Any tweaks in `package.json` in `node_modules/graphql-yoga` will be washed away after running `yarn` or `npm install`.

[2018-04-28 17:57] BenDiuguid commented on #297
Yup sticking with 1.12.1 till this gets patched! 😄

[2018-04-28 18:50] MoonTahoe opened #298 "Error: Cannot find module 'graphql-yoga'"
I was working with `graphql-yoga` today on a new project and the installed npm will not work. I see the following error:

[code]

I took a look at the npm folder and noticed a broken link in the pacakge.json. The `"main": "dist/src/index.js"` file is not in that location. It's just in the `dist` folder. I do not see a `src` folder. When I change the value to: `"main": "dist/index.js"`... it works!

[2018-04-28 19:33] kriswep commented on #298
This is discussed in #297 . For now, changing to `graphql-yoga@1.12.1` helps (or waiting for a fixed release).

[2018-04-28 21:52] loicplaire commented on #273
@schickling no worries, I raised the issue in `graphql-import`: https://github.com/graphcool/graphql-import/issues/153.
If this is confirmed as a bug, I would be more than happy to help out with a fix.

[2018-04-29 15:10] cjjenkinson commented on #297
#298

[2018-04-29 20:26] schickling commented on #297
Apologies for the inconvenience. This one must have slipped while merging this PR: https://github.com/graphcool/graphql-yoga/pull/283

I just released a new fix 🚢

[2018-04-29 20:26] #297 closed

[2018-04-29 20:26] schickling commented on #298
This is fixed now.

[2018-04-29 20:26] #298 closed

[2018-04-29 23:31] KATT commented on #297
I did that because typescript watcher doesn't like to both watch `dist` and write to `dist`. Wasn't aware it would affect anything other than typescript compilation. Now you probably broke `yarn watch` instead, but I haven't confirmed (on my phone writing this).

[2018-04-30 08:30] schickling commented on #297
@KATT I see. Happy to merge a PR that fixes this 😊

[2018-04-30 08:51] KATT commented on #297
@schickling I got a PR open now - #300 - please CR carefully :)

[2018-04-30 08:55] KATT commented on #281
@kMeillet for testing, use `port: 0`! :)

It gives you a random available port, allows you to parallelise your tests too - example in [`src/index.test.ts`](https://github.com/graphcool/graphql-yoga/blob/master/src/index.test.ts#L21-L24)

[2018-04-30 09:05] kMeillet commented on #281
Awesome ! Thanks for the trick.

[2018-04-30 14:02] schickling commented on #122
@sys13 has #256 answered your question or are you still looking for other authentication workflows?

[2018-04-30 14:03] schickling commented on #100
@JorgeCeja can you create a repo with a reproduction so we can look into your issue?

[2018-04-30 14:05] schickling commented on #281
Seems like this is solved now. Thanks @KATT for explaining!

[2018-04-30 14:05] #281 closed

[2018-04-30 14:07] #174 closed

[2018-04-30 14:16] schickling commented on #5
As #209 was merged including a new example, this issue can be closed now.

[2018-04-30 14:16] #5 closed

[2018-05-01 17:55] RoryKelly commented on #267
I have the same issue using serverless and "graphql-yoga": "^1.13.1"

[2018-05-02 20:01] CaptainChemist opened #302 "How to do error handling in GraphQL-Yoga Lambda?"
I was recommended to request this from the graphcool forums- I am using graphql-yoga lambda to make my server. I love it, but I can’t quite figure out how to do errors. I currently have a function in context that will pull off the authorization jwt token and convert it to a user object. If the token is expired, I throw an error.

When I view it from graphQL playground, it has an error about how it

[2018-05-03 06:44] kachkaev opened #303 "Integrate graphql-crunch"
Just came across [this tweet](https://twitter.com/jamesreggio/status/991556165568999424) and could not resist from sharing:

<img width="538" alt="screen shot 2018-05-03 at 07 29 45" src="https://user-images.githubusercontent.com/608862/39562551-2bd7776c-4ea4-11e8-8062-8e0a2d761236.png">

I haven't tested [graphql-crunch](https://github.com/banterfm/graphql-crunch) myself, but it appears to be a g

[2018-05-03 08:08] soheltarir opened #304 "Custom Error Handling for Network Errors"
Lets say I have a GraphQL schema defined has below,
[code]
When I send a mutation `createUser` with input field/s missing, the server sends me a 400 Bad Request with some payload like below (as seen on browser Inspect logs),
[code]
But Playground shows be the below error, and Apollo Client also receives this error.
[code]
Is there a way to customise this error, maybe something like below,
[code]

[2018-05-03 17:59] jamesreggio commented on #303
Hi @kachkaev — thanks for your interest. Allow me to shed a little more light on `graphql-crunch`.

We actually considered using `graphql-deduplicator` before building `graphql-crunch`. However, the way that we use our API immediately uncovered a major problem with `graphql-deduplicator`. (I mean no disrespect in this explanation, since the existence of `graphql-deduplicator` inspired us to pursue

[2018-05-03 20:35] lfades commented on #303
Interesting, @kachkaev the implementation of this would be exactly equal to the one I did for `graphql-deduplicator` (but using a different header), types for `graphql-crunch` will also be required. @jamesreggio would you like to have types in your package or in definitelyTyped ?

[2018-05-03 20:47] kachkaev commented on #303
It’d be great if TypeScript types we strored directly in graphql-crunch to avoid a need to maintain @types/graphql-crunch, which is more likely to go out of sync. Doing this is just adding one really small index.d.ts file to the package – that’s no big harm or effort.

@lfades WDYT of supporting ?deduplicate and ?crunch GET parameters in addition to HTTP headers? That looks like a more accessible

[2018-05-03 20:50] jamesreggio commented on #303
We can definitely add type definitions. You can track that here: https://github.com/banterfm/graphql-crunch/issues/2

And yes, I definitely recommend the headers and query-param approach.

[2018-05-03 20:56] lfades commented on #303
I used a header cause I found it more reasonable after reading this issue: https://github.com/gajus/graphql-deduplicator/issues/5, I don't have any real preference there.

@jamesreggio I would like to add the types if you don't mind

[2018-05-03 21:03] kachkaev commented on #303
I believe that having both GET and headers will be a useful thing. This will work for various scenarios and won’t heart anyone :–)

[2018-05-04 09:55] marktani opened #306 "Document options for GraphQLServerLambda, specifically cors"
There have been quite a few questions about configuring `cors` with `graphql-yoga`, especially when using `GraphQLServerLambda` ([example with more context](https://www.graph.cool/forum/t/cors-with-aws-gateway-graphql-yoga-and-prisma/2927/3?u=nilan)).

Does the following work?

[code]

If so, this should be properly documented.
If not, this should be added as a feature.

[2018-05-05 15:05] Aubron commented on #306
This is what's currently preventing me from deploying to Lambda. 👍

[2018-05-07 19:53] elie222 commented on #162
I'm also getting this issue here:
https://github.com/apollographql/subscriptions-transport-ws/issues/411

[2018-05-07 23:43] MoonTahoe opened #309 "GraphQL Yoga on an express Route"
I was wondering if it is possible to use a GraphQL Yoga configuration on an already existing express app?  Something Like…

[code]

It would be nice to take all of our GraphQL Yoga sample applications and add them to separate routes on our already existing express website so they are executable.

[2018-05-08 04:19] artemzakharov opened #310 "Can't compile typescript - "Cannot find name 'Exclude""
I get the following error message when I run `tsc`:

`node_modules/graphql-yoga/dist/src/types.d.ts(12,42): error TS2304: Cannot find name 'Exclude'.`

I'm using version `1.13.1` of the library. Downgrading to `1.6.1` fixes the issue.

[2018-05-09 07:55] frandiox commented on #304
Same here when creating a custom scalar.

In the network tab I can see `{"errors":[{"message":"Expected type ReferenceNumber!, found \"12345678\"; String's length must be at most 7, got 8","locations":[{"line":2,"column":69}]}]}`.

In the playground I only see `{"error": "Response not successful: Received status code 400"}`.

[2018-05-09 09:52] nagman commented on #304
Same here. How to display this payload in the server response body?

[2018-05-10 12:35] schickling commented on #310
@artemzakharov can you provide a minimal example to reproduce the problem?

[2018-05-10 12:47] #246 closed

[2018-05-10 12:59] schickling commented on #303
This sounds very interesting! Could you summarize the pros & cons for replacing `graphql-deduplicator` with `graphql-crunch` for Yoga?

[2018-05-10 13:09] kachkaev commented on #303
@schickling I don't think there is a need to choose between the two, at least for backwards-compatibility reasons. Both compression libraries are pretty small and can be painlessly included in parallel like so:

1. If request has `?crunch` or `X-GraphQL-Crunch`, use `graphql-crunch`.
1. If request has `?deduplicate` or `X-GraphQL-Deduplicate`, use `graphql-deduplicate`.
1. If both, throw an except

[2018-05-10 15:06] orefalo commented on #303
Maybe bundling the two capabilities is a bad idea from the get go, think about express.js and how elegant and thin it is.

These customizations should be part of the examples, the core should only provide hooks to implement them.

[2018-05-10 15:12] jamesreggio commented on #303
@schickling — I explained the differences between `graphql-crunch` and `graphql-deduplicator` in my [comment here](https://github.com/graphcool/graphql-yoga/issues/303#issuecomment-386383356). It's primarily a matter of correctness: `graphql-crunch` is a simple, lossless JSON compressor, whereas `graphql-deduplicator` can result in data loss due to its naive first-object-wins approach to deduplica

[2018-05-10 15:14] jamesreggio commented on #303
@kachkaev — may I suggest dropping the `X-` prefix from the headers. The IETF [deprecated that practice](https://tools.ietf.org/html/rfc6648) a couple years ago.

[2018-05-10 15:30] kachkaev commented on #303
@orefalo feel free to suggest any of those as a PR! I agree with @jamesreggio that `graphql-yoga` is a framework with all batteries included – the more commonly used features the better.

Have a look at [`create-react-app`](https://github.com/facebook/create-react-app) that has inspired this project: they started small nearly two years ago, but now they support nearly any perk that a front-end dev

[2018-05-10 15:42] lfades commented on #303
@jamesreggio I didn't know anything about that deprecation, maybe we should deprecate that option here and only use a query param 🤔.

@kachkaev I added some tests for graphql-deduplicator in this [PR](https://github.com/graphcool/graphql-yoga/pull/307). The tests for graphql-crunch will be very much the same 💃

[2018-05-10 17:00] jamesreggio commented on #303
Gotcha — I didn't realize that `X-GraphQL-Deduplicate` is already supported. With that in mind, I think symmetry is a greater virtue (because it reduces the amount of developer surprise), and would be fine with `X-GraphQL-Crunch`.

My colleague is working on the per-key crunching which will be a breaking change (hopefully the one and only), so I definitely recommend waiting until it's merged. Shou

[2018-05-10 17:10] kachkaev commented on #303
@jamesreggio speaking of breaking changes, WDYT of renaming `graphql-crunch` into something like [`data-crunch`](https://www.npmjs.com/package/data-crunch) (or whatever else available) to emphasise that it's not GraphQL-specific?

[2018-05-10 18:55] artemzakharov commented on #310
https://github.com/artemzakharov/bugtest.git

It's just a boilerplate project created with `graphql create`, using the `typescript-advanced` template.

[2018-05-10 19:11] jamesreggio commented on #303
@kachkaev — hah. If we did that, we'd spin out a different repo and have `graphql-crunch` depend upon it. There's a lot of value in having the name simultaneously communicate value prop (compression) _and_ a concrete use case (for GraphQL).

In fact, I'm sure there are plenty of other lossless JSON compression libraries out there that none of us have considered because we wouldn't want to do the l

[2018-05-11 16:36] abelovic opened #313 "Type "Node" is missing a "resolveType" resolver for GraphQLServerLambda"
This issue is a continuation of this thread: https://github.com/graphcool/prisma/issues/2225

This looks like it's only been implemented in GraphQLServer.... I still get these warnings when using GraphQLServerLambda

[2018-05-12 10:05] DakshMiglani commented on #277
@rainwater11 I'll make an example for it.

[2018-05-12 13:52] arianon opened #314 "Where's the documentMiddleware functionality?"
According to [`graphql-middleware`'s README](https://github.com/graphcool/graphql-middleware/blob/master/README.md#can-i-use-graphql-middleware-without-graphql-yoga) there should be a `documentMiddleware` option in `GraphQLServer`, but [there isn't](https://github.com/graphcool/graphql-yoga/search?q=documentMiddleware&type=Code), and the aforementioned functionality to add document-level middlewar

[2018-05-12 15:07] maticzav commented on #314
Hey @arianon, `documentMiddleware` is not yet available in Yoga. We've decided to remove `documentMiddleware` functionality from `graphql-middleware` because it didn't allow us to control query execution itself, but rather only as an insufficient workaround. We'll be implementing it in Yoga in the following weeks, so stay put! 🙂

[2018-05-13 10:51] jhalvorson commented on #310
I just want to confirm that I too have the same issue, just came across it when attempting to deploy.

[2018-05-14 03:43] yvann commented on #310
Same error for me with the latest "graphql-yoga" version

[code]

[2018-05-14 04:37] 2wce opened #315 "Add option to use schema generated by graphql-tools"
Hie. I was wondering if it's possible for the schema that you pass to the GraphQLServer constructor to be of the same type as the schema below

[code]

The current schema seems to be generated this way

[code]

Even though the returned types have same name, typescript complains if I use the former. Any help would be appreciated.

[2018-05-14 06:39] Gbahaa commented on #267
I had the following issue which might be related

When I set the endpoint in https://www.graphqlbin.com, I get an error like

[field X-Apollo-Tracing is not allowed by Access-Control-Allow-Headers in preflight response.]

That was fixed by changing the serverless.yml to include the CORS customized config like this for each function under the events

[code]

by the way, my handlers in handler.js lo

[2018-05-14 14:37] nagman opened #316 "Can an enum return description?"
Hi,

I'm struggling with my GraphQL API because I need to take advantage of Enums while keeping their full description in the frontend.

In short:
I have different states for a product: `"Has been sent"`, `"Not sent yet"`, `"Received"`.
So this is the right place to use Enums:
[code]
But I need to display the **proper strings** on the frontend ("`Has been sent`", and not "`HAS_BEEN_SENT`").

I can

[2018-05-14 15:11] orefalo commented on #316
I think you should ask this question in Stackoverflow (with a GraphQL tag), this is not an issue with Yoga.  Thank you.

[2018-05-14 23:29] chmaltsp opened #317 "Typescript - GraphQLServer + Schema Directives Error"
I'm doing a little experimenting with schema directive and am running into a typescript error. The code still compiles when running `yarn dev` but I see this error in my editor (VSCode).

Versions:
graphql-yoga: 1.13.1
prisma: 1.6
prisma-binding: 2.0.0
graphql-tools: 2.23.1
graphql-cli: 2.15.8

[code]

Here is my tsconfig

[code]

And my GraphQL server entry point.

[code]

The schema directive it

[2018-05-15 04:32] chmaltsp commented on #317
Turns out I had a mismatch with graphql tools because prisma-binding did not match with it graphql-yoga. Upgrading prisma to 1.8 resolved the issue.

[2018-05-15 04:32] #317 closed

[2018-05-15 14:17] borisowsky commented on #277
Hey guys! I have an architecture question about using graphql-yoga with mongodb:
Should I pass `db` as context
[code]
and use it for querying like that
[code]
or should I import js model `Todo` and use it like that
[code]
What's the right way to work with MongoDB as you thing?

[2018-05-15 14:43] DakshMiglani commented on #277
@borisowsky As i said earlier, I'll make an example for it

[2018-05-15 15:12] nagman opened #318 "Async resolvers for custom scalar"
Hi,

I don't know if this issue is related to graphql-yoga or to its dependencies, but I'll move it to the right repo if needed.

I'm creating a custom scalar type (`VAT`) which performs an asynchronous check with an API that returns if the society does exist or not.

When the society doesn't exist or if the VAT number format is invalid, it throws an error.

But this error is not catched by the `f

[2018-05-15 19:09] steida commented on #199
OK, after rethinking.

1) Validation errors should not be thrown at all. They belong to GraphQL schema, so it's obvious for API consumer what can fail and why.

2) Therefore, even Unauthorized should not be thrown. By that, we can indicate why specific mutation or query can't be processed in GraphiQL. GraphQL errors field is for serious unexpected errors only I suppose.

3) As result of such desig

[2018-05-15 19:29] steida commented on #199
The question is, should GraphQL API indicate that some mutation or query requires logged in user etc.? Because of schema stitching, I think it should.

[2018-05-15 19:30] fabien0102 commented on #277
@borisowsky it's better to use the context as dependency injection pattern, so it's easier to mock into your unit tests  😉 Indeed you can just pass any function as parameter to simulate your database behaviour

[2018-05-15 20:19] steida commented on #199
To be specific, CreateWeb can fail only with Unauthorized, while DeleteWeb can fail with Unauthorized or Forbidden. API should be explicit about that I suppose. With such approach, we can demand a user to log in again, or just tell the action is forbidden.

[2018-05-15 20:54] #315 closed

[2018-05-15 20:57] 2wce commented on #315
I ignored the error by adding the ts-ignore line on top of the GraphQLServer constructor and it fixed the issue

[code]

[2018-05-16 11:14] RoryKelly opened #321 "Documentation on resolver for enum types"
What does a resolver function look like that returns an enum in graphql-yoga? 🧘‍♀️ I can't find any examples in docs.

schema
[code]

resolver:
[code]

[2018-05-16 11:14] RoryKelly commented on #321
https://stackoverflow.com/questions/50369374/what-does-a-resolver-function-look-like-that-returns-an-enum-in-graphql-yoga

[2018-05-16 11:17] steida commented on #199
@schickling An easy way to catch all of these errors and implement your own handling, please. Should be possible via middleware I guess.

[2018-05-16 12:48] marktani commented on #321
This should work:

[code]

🙂

[2018-05-16 12:48] #321 closed

[2018-05-16 19:50] adamgajzlerowicz opened #322 "return status 403"
In resolver if I'd like to reject a request I do throw an error which works well - I can format the error and add error content, however that still comes back to client with status 200. How can I get a status that reflects the issue please

[2018-05-16 19:53] bhoriuchi commented on #240
@chrisdevereux I'm using a vuejs webpack template which i would like to keep using so that wouldn't fit the use case. This request is more around exposing the server object and allowing the various initialization steps to be called independently so that the yoga server can be used with things like webpack-dev-server.

[2018-05-17 09:09] playerx opened #323 "typeDefs to support array"
Hey,

What do you think to add array support for typeDefs? something like this:
[code]

[2018-05-17 12:28] #322 closed

[2018-05-18 04:07] superisaac opened #324 "GraphQLServer.start miss a host argument"
I found no place to listen to specific ip address in the following line
[code]
indeed the underline express server's listen method can accept the second parameter as the `host` to listen to, so adding a new option `host` for GraphQLServer.start() is appreciated, like this
[code]

[2018-05-19 11:50] maticzav opened #327 "Renovate doesn't trigger on GQL-Middleware update"
It seems like PRs from `renovate` are not triggered on `graphql-middleware` updates.

[2018-05-21 12:16] medv commented on #156
![image](https://user-images.githubusercontent.com/1631737/40307091-c696b4b4-5d33-11e8-8f7a-547fac78a4d8.png)

line 60 will log the user
line 33 will log undefined

This works in a normal express app

[2018-05-21 14:37] playerx commented on #323
I can send PR if it will be accepted

[2018-05-21 14:46] kachkaev commented on #323
Hi @playerx! Could this be supported already thanks to https://github.com/prismagraphql/graphql-yoga/pull/187? Original issue: https://github.com/prismagraphql/graphql-yoga/issues/185

[2018-05-21 21:56] #327 closed

[2018-05-21 23:48] steida commented on #199
@schickling Own handling, definitely. Do you have any idea how?

[2018-05-22 05:11] koresar commented on #323
Not supported already. I've tried. See my PR to fix that:

https://github.com/prismagraphql/graphql-yoga/pull/320

[2018-05-22 09:08] koresar commented on #323
Oh. Sorry. These are `typeDefs`. My PR is about `resolvers`.

Sorry for the confusion. Please disregard my comments. :)

[2018-05-22 09:17] playerx commented on #323
@kachkaev Yes thats the same one thanks, I wanted the same to merge schemas without graphql-import I don't want to have one more dependency

@koresar I use lodash merge right now for combining multiple resolvers, but yes it can be part of graphql-yoga and it will take care of that

[2018-05-22 09:17] #323 closed

[2018-05-22 09:21] nagman commented on #304
Any solution here?

[2018-05-22 09:36] checkmatez opened #330 "Unable to start server with mocks"
I am trying to start yoga server with mocks.
Just copy-pasting example from the docs doesn't work:
[code]
And got an Error: No schema defined, at /node_modules/graphql-yoga/src/index.ts

[2018-05-22 12:58] Alosies commented on #214
@jboothe Can you please tell how you imported types from 'generated/prisma.graphql'? When I try following this, I get `Type "<typeName>" not found in the document. `

[2018-05-22 14:18] develomark commented on #310
@hyrecar To confirm upgrading typescript fixed this issue for me also.

[2018-05-22 14:31] marktani commented on #214
@Alosies can you create a new issue with a reproduction example? :slightly_smiling_face:

[2018-05-22 16:42] Alosies opened #332 "Modularising Types in graphql-yoga based server"
I am trying to modularise resolvers and typeDefs in separate files using [merge-graphql-schemas](https://github.com/okgrow/merge-graphql-schemas). They are successfully merged but I am getting the error

`Error: Type "Course" not found in document.
    at ASTDefinitionBuilder._resolveType (/Users/alosiesgeorge/Desktop/vue-code/prisma-tutorial/hello-world/server-graphql/node_modules/graphql/utiliti

[2018-05-23 09:39] AlexanderChen1989 opened #334 "middlewares not working"
[code]
![image](https://user-images.githubusercontent.com/2957936/40416592-2e5e87d4-5eb0-11e8-851c-3f7328a0e734.png)

[2018-05-24 01:47] lucasmafra commented on #11
Why is this closed? It seems that the Props type passed to GraphQLServer constructor still does not accept options like formatError and formatResponse. How can I implement such behavior without those options? Can't find that anywhere in docs

[2018-05-24 02:48] sandangel commented on #306
If you are using typescript, you will see that there is no cors option.

[2018-05-24 11:31] jhalborg commented on #310
+1 for confirmation of both issue and upgrade as solution

[2018-05-24 11:42] marktani commented on #310
Thanks!

[2018-05-24 11:42] #310 closed

[2018-05-24 17:07] #267 closed

[2018-05-24 17:12] timsuchanek commented on #267
This has been fixed and released in `1.14.3` 🙂

[2018-05-24 23:59] schickling commented on #324
Would be great to have a PR adding the `host` configuration option! 🙏

[2018-05-25 00:16] schickling commented on #304
Sorry for the slow response. @timsuchanek is looking into this!

[2018-05-25 00:20] schickling commented on #199
@timsuchanek @divyenduz can you describe a couple of approaches here?

[2018-05-25 09:57] Menogus commented on #277
please give example for graphql Subscription with mongoose

[2018-05-25 10:32] DakshMiglani commented on #277
@Menogus ya sorry, i was busy this week. But the long awaited weekend has come. I'll make it today.

[2018-05-25 11:34] DakshMiglani commented on #277
Just made the pull request, the example will be in the examples/mongodb directory.

[2018-05-26 16:07] divyenduz opened #340 "Alias issues in with graphql-yoga and schema delegation"
The couple of issues were recently reported related to usage of aliases:-

1. https://github.com/prismagraphql/prisma/issues/2429
2. https://github.com/prismagraphql/prisma-binding/issues/176

The underlying issue is that the [alias aware custom resolver](https://github.com/prismagraphql/graphql-yoga/pull/216) we had deployed does not work [when `tracing` or `cacheControl`](https://github.com/apol

[2018-05-27 14:10] renato commented on #332
I'm having the same issue, even after using the `# import` directives.

I tried to use `importSchema` (https://github.com/prismagraphql/graphql-import) directly passing the imported types to `mergeTypes`, but it failed because of https://github.com/okgrow/merge-graphql-schemas/issues/141 (interfaces don't get merged, so I get an `Error: Type "Node" was defined more than once.`).

I think it would

[2018-05-27 22:28] merelinguist commented on #330
I had the same issue, when following the mocking example in the README.

[2018-05-28 03:40] joshmadewell commented on #304
@timsuchanek @schickling it looks like this has something to do with this code? https://github.com/apollographql/apollo-link/blob/master/packages/apollo-link-http-common/src/index.ts#L145

[2018-05-28 07:44] marktani opened #342 "Add out of the box support for generic-persistgraphql"
Benefits of [`generic-persistgraphql`](https://github.com/arackaf/generic-persistgraphql) in @arackaf's words:

The provided Node middleware by `generic-persistgraphql` could be added to `graphql-yoga` out of the box/with a simple configuration.

[2018-05-28 07:51] AlexanderChen1989 commented on #334
problem fixed when i updated package versions

[2018-05-28 07:51] #334 closed

[2018-05-28 12:38] Weakky opened #343 "Authenticated subscriptions"
Hey there,

I'm trying to setup authenticated subscriptions.

As this issue suggests (https://github.com/apollographql/subscriptions-transport-ws/issues/113) it should be possible using a middleware-like approach using the following code:

[code]

**Unfortunately, I'm receiving a context that is always null.** However, the context *is* properly set when instantiating the `WebSocketLink` with `opti

[2018-05-28 14:17] DakshMiglani commented on #343
I did it like this:

[code]

[2018-05-28 14:43] Weakky commented on #343
Yeah, but that's what I said above:

In most cases though, you don't have that token when instantiating the `WebSocketLink`.
That is something you have access to only *after* user has logged-in. That's why a middleware approach would be the right way to handle it.

[2018-05-28 14:46] DakshMiglani commented on #343
what you can do in those cases, is that you can store the token into a cookie or localStorage and reload the page. when Websocket link is created, you can just ask it to read it from there.

[2018-05-28 14:49] DakshMiglani commented on #343
Configure your websocket-link like this:

[code]

once you have token, send it to localstorage and reload:

[code]

In most cases, after login we make the browser reload, because it get's the login state and essence.

[2018-05-28 14:51] DakshMiglani commented on #343
also try this:

[code]

[2018-05-28 15:00] Weakky commented on #343
While this could be a *workaround* for browsers, it cannot work on mobile apps.
And sadly, that doesn't explain why the middleware approach isn't working :(

[2018-05-28 15:02] DakshMiglani commented on #343
I think it's not working because, you're adding it as options.context, while it is treated options.connectionParams.

[2018-05-28 15:57] borisowsky commented on #330
@checkmatez @merelinguist I think there is something missing in docs... you can do mocking like that (it works), but I'm not sure this is yoga's way.

[code]

[2018-05-29 02:19] #277 closed

[2018-05-29 07:57] Menogus commented on #277
Subscription not in examples :((

[2018-05-29 10:40] jhalborg commented on #162
Getting this issue after using `typescript-advanced` boilerplate and following part 1 of [the guide for deploying with `now`](https://blog.graph.cool/deploying-graphql-servers-with-zeit-now-85f4757b79a7). I then realized that I needed to check out part two as well. Deploying with `now --dotenv .env` worked

[2018-05-29 12:02] Kisepro opened #345 "GraphQLServerLambda & GraphQLServer"
Hello,

Following this [lambda-example](https://github.com/prismagraphql/graphql-yoga/tree/master/examples/lambda), how can I call my lambda function ? What's the endpoint ?

What am I suppose to do with the exported variable server ? ( exports.server = lambda.graphqlHandler )
Do I need to attach it on my GraphQLServer ?

Please, do you have more informations/documentation about it ?

[2018-05-29 20:40] codepunkt commented on #167
I'm looking for the same functionality.

Specifically:
- Ability to throw an Error in a resolver that results in a 401
- Ability to throw field specific errors

Let me know if i can help!

[2018-05-30 07:49] geminiyellow commented on #122
is there example for how to use `passport-oauth2` + `graphql-yoga` ?  i dont know why, but i cannot get passport session's isAuthenticated in graphql post request.

[2018-05-30 12:48] ztec commented on #314
link : https://github.com/prismagraphql/graphql-middleware/issues/10

[2018-05-30 21:17] ekron opened #349 "Custom subscriptions onConnect function not invoked when client connects over web socket for subscriptions"
Thanks for all your work on graphql-yoga.

According to the [readme](https://github.com/prismagraphql/graphql-yoga#startoptions-options-callback-options-options--void----null-promisevoid) I can add an `onConnect` handler when I create a server.

E.g.

[code]

When a client connects to the server, the object returned by `onConnect` is added to each subscription resolver's context for that client's

[2018-05-31 10:09] ekron commented on #349
Confusion at my end. For anyone else, pass a function to the `context` option. The argument passed to that object will contain the web socket connection data from the client.

e.g.

[code]
Setting up a server:

[code]

Then in your resolver access the `context` as you would expect:

[code]

[2018-05-31 10:09] #349 closed

[2018-05-31 19:02] Oroneki opened #352 "How to Provide a Custom 404 Page ?"
When I use express middleware like this:
[code]
I actually get 404 on every route (including playground) even if I put this middleware right before the server starts. How can I make my own custom 404 page to handle this?

[2018-06-01 07:38] geminiyellow commented on #9
hi all, is really can add static folder to yoga?

what i do is,
[code]

when i add the static folder, i cannot access `/playground` and `/graphql` anymore.
who can tell me why ?

[2018-06-01 10:26] playerx opened #353 "Ability to set default theme for playground"
It will be cool to have ability to set default theme for playground.

Use case:
When I use prisma, I've two different graphqls and I found handy when I set dark theme for prisma and light theme for yoga playground, I know its possible to change theme manually, but I want to provide such experience to all users automatically who will enter the playground

[2018-06-01 17:03] davidalekna opened #355 "passport middleware, not req.login on context"
Hi! Thanks for this awesome package! I can't figure out how to attach passports login to request. I do initialize it on

```server.express.use(passport.initialize());```

and my context function still doesn't have a login on it... I was wondering is there a sequence that I should have to arrange the middleware or any advice would be great! thanks

[2018-06-02 22:38] terion-name opened #356 "Server fails on upload termination (Request disconnected during file upload stream parsing)"
I have a `guard` decorator, that decorates access-restricted resolvers. Simple higher order function that throws an exception on unauthorized access. In general this works great: query response contains null-data and errors object with "Access denied", Yaga-server keeps running. This is how it should be.

But on mutations with uploads (that are also added via decorator) there is a problem: throwin

[2018-06-03 04:44] Oroneki opened #357 "Response methods not working when called in context of resolver"
I instantiate my server with the following code passing the express request and response to the context:
[code]

In my resolver I tried to pass some extra header using the "append" method in the response object (I also tried the "setHeader" method too):
[code]
But in my test I just receive the headers:
[code]

Is it some bug or something I am doing wrong ? How do I pass some extra header within a

[2018-06-04 07:30] superisaac commented on #324
There are build issues even if I don't touch anything, due to which I cannot have a PR.
[code]

[2018-06-04 10:54] Weakky commented on #343
This is still an issue. Using `options.connectionParams` doesn't work. 😞

[2018-06-04 11:11] DakshMiglani commented on #343
@Weakky can you confirm that this also doesn't work with apollo-server-express? so we can make sure, this is a graphql-yoga problem or not?

[2018-06-04 14:05] timsuchanek opened #358 "Compatibility with Netlify functions"
In order to support netlify functions, we have to turn the separate playground & server handlers into one handler that conditionally serves the playground or the graphql server based on the http method (GET & POST).
We also should add an example that can be used right away in Netlify Functions.

[2018-06-04 20:55] terion-name opened #359 "Allow non-string exception messages"
Assume I have a validation in a resolver. If validation fails — it throws exception with errors-containing object. Server then responding with `{data: null, errors: {...}}` — and that's perfect, except `errors` object contains `message: "[object object]"`. Currently I use JSON.stringify to overcome this, but it would be better if server would not cast to string all exception messages and render ob

[2018-06-05 07:05] #358 closed

[2018-06-05 12:36] Ashvala opened #361 "file-upload example fails with `FileStreamDisconnectUploadError`"
Steps to reproduce:

When using curl on the file-upload server,

[code]

curl responds with:

[code]

Server shuts down with:

[code]

[2018-06-06 00:43] koresar commented on #316
Yes you can add descriptions to enum values:
http://facebook.github.io/graphql/draft/#sec-Descriptions

[2018-06-06 09:12] nagman commented on #316
@koresar Noice! Thanks for the link, it's awesome!

Now I can fetch all the possible values of an enum with their description with the following introspection query:
[code]
and it returns
[code]
It resolves 70% of my issue.
Now the remaining question is: is it possible to get the description of an enum field **INSIDE** of a Query?
Like so:
[code]

[2018-06-06 09:53] marktani commented on #316
No, you can only query the description of any type/field/enum using the introspection queries, and not inline.

[2018-06-06 09:53] #316 closed

[2018-06-06 10:15] Aetherall commented on #126
having the same issue, how did you resolve this one ?

[2018-06-08 02:27] geminiyellow commented on #9
@pyros2097 thank you

[2018-06-08 03:31] geminiyellow commented on #352
same question , anybody can help me ?

[2018-06-08 04:46] DakshMiglani commented on #359
This can be achieved with Apollo-Errors Module. You can specify the formatError option in the options of graphql-yoga.

[2018-06-08 06:31] rumsky opened #362 "When use string file path for typeDefs,there is a error: Cannot parse the unexpected character "/"."
[code]
When use string file path for typeDefs,there is a error:
/Users/harry/reactworkspace/graphql-yoga-server/hackernews-node/node_modules/graphql/language/lexer.js:302
  throw (0, _error.syntaxError)(source, pos, unexpectedCharacterMessage(code));
  ^
GraphQLError: Syntax Error: Cannot parse the unexpected character "/".
    at syntaxError (/Users/harry/reactworkspace/graphql-yoga-server/hacker

[2018-06-08 09:30] Siyfion opened #363 "Add Apollo Server v2 Error Handling"
Just in the same way that the Apollo Server v2 has been updated to include error handling, I feel like it would be hugely beneficial if `graphql-yoga` did the same, ideally, in the same way:

https://www.apollographql.com/docs/apollo-server/v2/features/errors.html

These changes help massively with debugging and with generating better error messages for the clients.

[2018-06-08 13:34] kachkaev commented on #317
I also had this issue after upgrading graphql-tools   from `^2.24.0` to `^3.0.2`. Rolling back to v2 fixed tsc for me.

[2018-06-08 16:52] DakshMiglani commented on #359
If you're doing schema stitching, then look at this: https://github.com/apollographql/graphql-tools/issues/480

[2018-06-09 09:31] woss opened #364 "Build failing with typescript"
Hi guys,

Any idea why this fails to compile? I followed all the guidelines correctly.
Server works in dev mode.

Code for the line 44:
[code]

Build failed output:
[code]

thanks

[2018-06-09 17:46] terion-name commented on #359
@DakshMiglani Thank you!
For my case this worked:
[code]

[2018-06-09 17:46] #359 closed

[2018-06-09 22:15] divyenduz commented on #265
This is closed now.

[2018-06-09 22:15] #265 closed

[2018-06-10 17:57] flexlee commented on #247
Agree with @oexza . I have multiple prisma endpoints connected to different databases. Would really be nice to have one graphql server to serve a customized graphql API.

[2018-06-11 08:53] Kisepro commented on #167
Looking for the same functionality.

For instance only the message passed by the Error constructor is send to the client.

For example a server function would want to send :
- ClientFriendlyMessage : to show in the client app
- Debug message : more informations for the developer to know what's going on

[2018-06-11 12:30] karloluis opened #365 "Support for graphql-voyager schema visualizer."
As the title says, I've been trying to integrate `voyager` to visualize the schema. I have tried the different configurations suggested on their site, by using the `server.express` exposure. They have not been fruitful. Hence, can anyone come up with a working example of both?

Here is the link to the github library.
https://github.com/APIs-guru/graphql-voyager

[2018-06-13 14:27] tristancaron opened #367 "Middleware after computation"
Hello,

I would like to use a filter middleware applied on the result of a resolver.

The code could look like
[code]

The problem is, `res` doesn't have the values eventually computed in a sub resolver.

How can I access to to the final object?

Using `formatResponse` is a solution if we filter only at the root level.

[2018-06-14 03:22] jasonkuhrt opened #368 "Could not find a declaration file for module 'ws'"
I have a vanilla project setup:

[code]

[code]

[code]

[code]

I realize this might be an upstream issue. Anyone else hitting this?

[2018-06-14 08:33] allenfred commented on #356
<img width="785" alt="screen shot 2018-06-14 at 4 30 39 pm" src="https://user-images.githubusercontent.com/10720811/41400721-75d591ba-6ff0-11e8-8ad1-ec1e17db1a34.png">
You may need to add some code like below:

`
    stream.on('error', err => {
      reject(err);
    });
`

[2018-06-14 12:05] marktani commented on #364
In what mode doesn't it work then? are you deploying it to a specific system?

[2018-06-14 13:16] Menogus commented on #277
so....what about example for graphql Subscription with mongoose ?:))

[2018-06-14 15:04] terion-name commented on #356
@allenfred thanx, added a rejector, will try to test in time. But any case I think server should not fail at this :)

[2018-06-15 10:03] woss commented on #364
I need to build it to create docker box. the project is based off official Prisma TS boilerplate which has an issue ( found out about it yesterday )  with version mismatch in yarn.lock and package.json.  Meaning that if you clone project and run `yarn` then `yarn build` it builds it nicely if you install any package then build it fails.

[2018-06-18 15:55] woss commented on #364
The issue has been solved and I'm adding it here as a ref.

I had the following
[code]

Signatures are different, that's why it fails on the `updateUser`.
[code]
because clearly Iresolvers interface is defined bit differently:
[code]
So changin all that to following:
[code]

builds it even with `--declarations` :)

[2018-06-18 15:55] #364 closed

[2018-06-18 19:52] iam-peekay commented on #13
@vjpr did using that wrapper work for you?

[2018-06-19 02:03] michals2 commented on #365
Just add it like any express middleware --> [docs](https://github.com/prismagraphql/graphql-yoga#how-to-eject-from-the-standard-express-setup).

it worked for me by adding these 2 lines to my server config file:
`const { express: voyagerMiddleware } = require('graphql-voyager/middleware');
...
server.express.use('/voyager', voyagerMiddleware({ endpointUrl: '/graphql' }));
...
`

[2018-06-19 11:43] karloluis commented on #365
Hey @michals2,

That's odd, I did exactly the same and found that it would not render properly. The following is on the console of the browser tab I tried to open it in.

![screen shot 2018-06-19 at 7 42 33 am](https://user-images.githubusercontent.com/4258614/41595359-7b45b9b6-7394-11e8-85e8-43125dc4fe89.png)

[2018-06-19 12:44] dkt201474 commented on #236
+1

Will be very useful

Hi, any updates

[2018-06-20 02:47] jasonkuhrt opened #370 "Export types"
Motivating example, I want to get my `info` argument on resolvers typed, but importing the type is awkward (only discovered thanks to vscode auto-import feature actually):

[code]

Would prefer:

[code]

I'm happy to make a PR for this, but maybe needs a discussion first...

[2018-06-20 07:46] joe-re commented on #368
I encountered the same issue.
You'll be able to fix it `getting ws` module type definition by manually.

[code]

[2018-06-20 15:45] borisowsky commented on #367
Hm... Maybe I got you wrong, but maybe this is something you need.
[code]

[2018-06-20 20:23] codepunkt commented on #122
i'd be interested in exchanging best practices to token-only stateless auth without sessions or cookies. what would be most interesting is doing this on top of `passport` and combining both username/password signup and signin aswell as identity provider signin.

[2018-06-21 13:40] Patrick-Spiegel opened #371 "Redirecting subscriptions"
Is it possible for yoga to act as middleware for subscriptions?

We are looking for a graphql-server where we can have a graphql server as middleware. From there queries, mutations and **subscriptions** should be redirected to dynamic graphql endpoints.

Is it currently possible with yoga?

-- What I would like to do
[code]

[2018-06-22 02:42] undefinedist opened #373 "How do I have rest api style webhook inside of graphql-yoga?"
Do I have to have a separate server that call graphql-yoga?
Or can I have separate endpoint for webhook.

Thanks.

[2018-06-22 08:05] oiojin831 commented on #100
@hobochild
How do you clean the db after the unit test?
Do you connect the prisma server?
I am not sure how to test resolver in graphql-yoga.

Thanks

[2018-06-22 11:51] orefalo commented on #365
I have it setup with graphql-cli, it works perfectly and does not pollute the code base, since it starts as a standalone app.

https://github.com/graphql-cli/graphql-cli
https://github.com/graphql-cli/graphql-cli-voyager

[2018-06-22 11:59] orefalo commented on #318
you should bring this up on the core graphql project. looks like you are trying to alter the graphql spec.

plz reopen over there. thank you

[2018-06-23 17:11] danutzcodrescu commented on #199
@steida you can install `apollo-errors` package and then implement your own errors. You can implement your custom errors like it is presented in [https://www.apollographql.com/docs/apollo-server/v2/features/errors.html](Apollo documentation)

[2018-06-23 21:04] steida commented on #199
Actually, I moved all errors to the schema where it belongs. And https://github.com/maticzav/graphql-shield soon allow controlling logging I guess.

[2018-06-23 21:05] steida commented on #199
@schickling Feel free to close it. Thank you.

[2018-06-25 20:13] terion-name commented on #356
That doesn't help

[2018-06-26 16:13] cruhl opened #379 "Type Checking for resolvers seems broken with the latest TypeScript version"
Apparently the latest version of TypeScript has stricter type checking. This is causing issues with the basic example on the README...

[code]
This error is reported...

[code]

[2018-06-26 16:17] cruhl commented on #379
This may be caused by https://github.com/DefinitelyTyped/DefinitelyTyped/issues/21359

[2018-06-28 02:03] jasonkuhrt commented on #379
@cruhl can you put up a repro?

[2018-06-28 12:16] lurifaxel commented on #332
I'm also curious about how to solve this! Modularizing works just fine for my own .graphql-files but I haven't been able to incorporate the types defined in the src/generated/prisma.graphql-file. Surely it would be reasonable for the [modular-resolvers-example](https://github.com/prismagraphql/graphql-yoga/tree/master/examples/modular-resolvers) to showcase how to do this?

[2018-06-28 23:02] 0zkr1 commented on #364
I'm having similar issue with `IResolver`. My project compiles if I modify it but appending ` | any` at `Interface.d.ts` definition.
(I'm breaking the type checking like other cited solutions)

[2018-06-29 08:26] FluorescentHallucinogen opened #382 "graphql-yoga preview version based on apollo-server@2.0.0-rc.*"
Since `graphql-yoga` is based on [`apollo-server`](https://github.com/apollographql/apollo-server) and Apollo Server 2.0 currently is in [release candidate stage](https://github.com/apollographql/apollo-server/releases), what about to release preview version of `graphql-yoga` based on `apollo-server@2.0.0-rc.*` to developers can try all new mind-blowing features that Apollo Server 2.0 offer before

[2018-06-29 15:22] jimmyjamieson commented on #214
I'm currently trying this with prism using merge resolvers, but my user listings aren't showing.

src/schema.graphql
[code]

src/resolvers/index.js
[code]

src/resolvers/listing.resolvers.js
[code]

src/resolvers/user.resolvers.js
[code]
src/index.js

[code]

it works, but my users query returns null for listings
[code]

If i copy the resolvers into resolvers/index.js I get the listings showing fi

[2018-06-29 15:38] jimmyjamieson commented on #214
Also, a console.log(resolvers) inside src/resolvers/index.js produces

[code]

[2018-06-30 09:58] oiojin831 commented on #364
I don't know this is same for everyone else, but after I added
```yarn add --dev  @types/graphql```
everything works fine for me

[2018-07-01 02:45] jasonkuhrt opened #383 "Cannot subscribe to subscription"
[code]
[code]

Resolvers:

[code]

This subscription works:

[code]

It seems that the relation part in the where clause is what is tripping up the GQL Gateway:

[code]

I expected that the only resolver I should need is for `message`. I tried adding `channel` too as you saw above but it had no visible effect on this issue.

[2018-07-01 16:01] Sharlaan opened #384 "Support for Fastify"
I just discovered GQL-Yoga, and it really is impressive and clean, great work ! 👏

I'm just wondering (besides updating to `apollo-server v2+` which is already covered in another issue) how complicated it would be to migrate Express to a faster alternative, ie [Fastify](https://www.fastify.io/) ?

[2018-07-02 15:15] techyrajeev commented on #167
How can I use [ApolloError](https://www.apollographql.com/docs/apollo-server/v2/features/errors.html#Other-errors) ?

From above link I can easily create custom error like this -
`new ApolloError(message, code, additionalProperties);`

But how can I get reference to `ApolloError` ?

[2018-07-02 17:31] techyrajeev opened #385 "dataSources option for rest apis"
Is there any way I can provide `dataSources` for rest apis

e.g With `ApolloServer` it can be done as -

[code]

[2018-07-03 15:37] peterschussheim commented on #340
Looks like [the patch for this issue](https://github.com/apollographql/apollo-server/issues/865) was merged into `apollo-server`... is there a proposal for upgrading `graphql-yoga` to `apollo-server`2 RC?

@timsuchanek

[2018-07-03 20:26] patrick-samy opened #386 "Netlify functions support with Prisma schema file"
Hi there,

The following example works for a simple use case but if you try to integrate Prisma, it becomes difficult to retrieve the schema file at runtime: https://github.com/prismagraphql/graphql-yoga/blob/master/examples/lambda-netlify/server/index.js

I have tried adding the schemas to my `./functions` folder and retrieving them like this without success:
[code]

Runtime error
[code]

[2018-07-03 22:58] onpaws commented on #382
This would of course be cool to play around with.
I see Apollo Server 2.0 appears to be shipping GraphQL Playground directly [this time](https://github.com/apollographql/apollo-server/blob/v2.0.0-rc.5/packages/apollo-server-express/src/ApolloServer.ts#L30).
So at least that aspect won't be a "drop in" upgrade.

Would be nice to hear an update on what the plans look like from the `graphql-yoga` aut

[2018-07-04 06:10] FluorescentHallucinogen commented on #382
@schickling @DakshMiglani @nikolasburk @timsuchanek @marktani PTAL. :wink:

[2018-07-04 16:04] nmaro commented on #379
The reason this fails is because everywhere `GraphQLFieldResolver<any, any>` is used it should be
`GraphQLFieldResolver<any, any, any>` instead.

[2018-07-04 16:09] nmaro commented on #379
See the generic types here: `type GraphQLFieldResolver<TSource, TContext, TArgs = { [argName: string]: any }>`
To reproduce use a resolver that doesn't use arguments conforming to `{ [argName: string]: any }`

note that the following won't compile (this might be what's new in typescript)

[code]

[2018-07-04 17:35] jasonkuhrt commented on #379
@nmaro Based on that explanation my PR may fix this issue then: https://github.com/prismagraphql/graphql-yoga/pull/369.

[2018-07-04 18:09] cruhl commented on #379
@jasonkuhrt I would, but I'm away from a computer for the holidays, sorry! Thanks for looking into this everyone...

[2018-07-05 09:39] rohmanhm commented on #368
Hi @joe-re
That doesn't work.

[2018-07-05 18:37] aimed commented on #352
Lots of related pull requests (e.g. https://github.com/prismagraphql/graphql-yoga/pull/238). According to a comment in https://github.com/prismagraphql/graphql-yoga/pull/149 one might be able to solve this using https://github.com/prismagraphql/graphql-yoga/pull/209

[2018-07-06 05:56] marano opened #389 "Pass options as callback to `start` and `createHttpServer`"
I need to be able to do something like this:
[code]
and this:
[code]

[2018-07-07 17:40] xuo commented on #255
As far as i understand, you can set `"request.credentials"` to either `"include"` or `"same-origin"` in the Playground settings.
See [this](https://github.com/prismagraphql/graphql-playground/pull/470) PR for reference.

[2018-07-08 13:05] DakshMiglani commented on #255
yea, I solved this quite a while ago and totally forgot about this issue. But i think by default it should be set to `include` or `same-origin`, because most people while learning graphql don't know about this and it makes it harder for them.

[2018-07-09 10:56] ralphchristianeclipse opened #391 "Issue on building with typescript"
got this error

[code]

with this code

it works before

but why it doesn't now?

[code]

[2018-07-09 19:23] BrunoScheufler commented on #391
I've got the exact same problem, it seems as if the type definitions are not aligned, which is weird.

[2018-07-09 20:45] ralphchristianeclipse commented on #391
I think because of this release

https://github.com/prismagraphql/graphql-yoga/commit/0911cef

[2018-07-10 09:46] guledali opened #392 "Update) File-upload example to use prisma database schema and prisma-bindings!"
![file-upload](https://user-images.githubusercontent.com/20647282/42502559-aed14626-8436-11e8-8b56-051ca9644c31.png)

[2018-07-10 11:59] guledali commented on #392
Closing this issue prisma has information regarding file-handling. Below you can find an example that uses prisma database schema and prisma bindings.
https://www.prisma.io/docs/reference/upgrade-guides/graphcool-to-prisma/file-handling-hahcee3eef

Worth mentioning that there is middleware for this!
https://github.com/homeroom-live/graphql-middleware-apollo-upload-server

[2018-07-10 11:59] #392 closed

[2018-07-12 03:16] fgiarritiello commented on #19
@kbrandwijk how is websocket going to work on a lambda?

[2018-07-12 07:53] tpetry opened #393 "Add request to context for graphql subscriptions"
GraphQL queries and mutations are provided `{ request, response }` to create a context based on the request. Unfortunately subscriptions are only provided `{ connection }` despite `webSocket` being available in scope.

So either provide `webSocket` too or provide the request from `webSocket.upgradeReq`

[2018-07-12 19:01] patrick-samy commented on #236
I've just tried simply deploying the AWS example on Google but it's crashing because a callback doesn't seem to be passed to the handlers:
[code]

[2018-07-12 20:43] bhram commented on #393
same here

[2018-07-13 14:30] schickling commented on #19
Unfortunately websockets are not yet supported via AWS Lambda but I encourage you to look into [`now`](http://zeit.co/now) as an easy alternative. If you want to stick with AWS you can also host Yoga using containers for example via ECS or Elastic Beanstalk.

[2018-07-13 17:31] marktani opened #396 "Gracefully handle wrong signature for `fragment` for resolvers"
The `fragment` argument of a resolver can be used to fetch data that is needed in the `resolve` part. Here's an example:

[code]

If you write this instead:

[code]

You'll receive an error message that is not easy to parse and doesn't help you to fix the problem.

This could be handled gracefully.

[2018-07-14 10:35] valentinbe opened #398 "Using middlewares with GraphQLServerLambda"
Hi,
How can I use middlewares along with  GraphQLServerLambda?
I want to use a shield middleware, which works perfectly using GraphQLServer, but `middlewares` is not a known property from GraphQLServerLambda.

Examples:
[code]
Working with GraphQLServer:
[code]

[2018-07-14 12:31] kevrat commented on #167
Looks like graphql-yoga doesn't export anything related with apollo-graphql.
So we need to install apollo-graphql in package.json and import ApolloError form it.
It is right?

[2018-07-14 13:33] samdenty99 commented on #167
Installing the `apollo-server-core` package should be enough

https://unpkg.com/apollo-server@2.0.0-rc.5/dist/exports.d.ts

[code]

[2018-07-15 22:31] mechanical-turk commented on #391
I'm having the same issue. It starts to occur whenever I start adding some type details to my resolvers:

This one works fine:
[code]

But this one gets the compilation error:

[code]

[2018-07-17 02:24] mrdulin opened #403 "confused with graphql-yoga, apollo-server-express, apollo-server, express-graphql"
Here are some libs:

1. graphql-yoga
2. [apollo-server-express](https://github.com/apollographql/apollo-server/tree/master/packages/apollo-server-express)
3. [apollo-server](https://github.com/apollographql/apollo-server)
4. [express-graphql](https://github.com/graphql/express-graphql)

what's the differences between them?
Is there a functional overlap?

If `graphql-yoga` is better, what advantage

[2018-07-17 13:05] PanJiaChen opened #404 "Is there a way to close server?"
I want to listen for file changes and automatically restart the service when changes occur. But I did not find a way to close the server.

[2018-07-17 19:20] iterprise commented on #389
I need the same think too. Is it possible to do it?

[2018-07-17 23:06] ramirotw commented on #255
Changing the `request.credentials` config option is not working using the current version of graphql-yoga.

Maybe it's related with this issue: https://github.com/prismagraphql/graphql-playground/issues/791

[2018-07-18 06:34] cpenarrieta commented on #384
@Sharlaan this will require first `apollo-server` to support `fastify`. see https://github.com/apollographql/apollo-server/pull/659 and https://github.com/apollographql/apollo-server/issues/626
Later, `graphql-yoga` will need to support different servers other than express only (based on apollo server integrations https://github.com/apollographql/apollo-server/tree/master/packages).

[2018-07-18 10:46] Slessi opened #405 "Potentially incorrect IResolvers type"
In [types.ts](https://github.com/jasonkuhrt/graphql-yoga/blob/e39cf2d433b19203a7253fc34206a5e12f48996a/src/types.ts)

[code]

Is this correct? As I understand it, `IResolverOptions` should not be part of `IResolverObject`, and should be as follows:

[code]

The following does not compile for me for example:

[code]

[code]

The following *does* compile, but only because it thinks its a `GraphQLFie

[2018-07-19 08:46] mjw56 commented on #355
I'm having the same problem, am looking into it. Will let you know if I figure out how to get it working.

[2018-07-19 08:58] mjw56 commented on #122
I'm working on a passport example, I''m working out how to get the auth token through context now. If anyone has figured this out with passport please chime in!

[2018-07-19 10:14] davidalekna commented on #355
@mjw56 I just went with the Apollo stack, they now have playground integrated 2.0rc

[2018-07-19 10:36] mjw56 commented on #355
@davidalekna ok thanks. I am close, so going to see if I can get this working. Will post back with any updates for future reference.

[2018-07-19 12:14] mjw56 commented on #255
It is working for me with `1.14.12`

[2018-07-19 12:58] mjw56 commented on #355
Ok I think I have something working here if you want to see, I am not sure how you had yours setup but I am doing a simple passport oauth with a third party service. I'm taking the authentication creds off the request and passing those into the graphql context which get passed to the resolver functions who can use them to interact with the service.

One thing to note is to make sure cookies are be

[2018-07-19 14:48] johannpinson commented on #199
Hello @danutzcodrescu

After seen your comment, I also looked about this one https://github.com/prismagraphql/graphql-yoga/issues/167

After make some test by adding `apollo-errors` (unofficial) to my project, I didn't get more information inside the error object in the response .
Actually, it seems we need to use directly `apollo-server-errors` (official) and extend `ApolloError` class.

[2018-07-20 09:41] johannpinson commented on #405
Hey @Slessi

I got a similar issue when I use `forwardTo` from `prisma-binding`:

[code]

I also try to override type definition as you indicate, but I got another one:
![capture d ecran 2018-07-20 a 11 20 15](https://user-images.githubusercontent.com/2202989/42994776-588007d6-8c0f-11e8-9886-b36a2574e680.png)

[2018-07-20 15:51] delianides commented on #382
Apollo Server 2.0 shipped yesterday.

[2018-07-20 16:06] DakshMiglani commented on #382
+1, I'll check on it.

[2018-07-20 19:02] goldcaddy77 commented on #403
The README answers your question [here](https://github.com/prismagraphql/graphql-yoga#how-does-graphql-yoga-compare-to-apollo-server-and-other-tools).

However, a bigger question is with the release of [apollo-server v2](https://blog.apollographql.com/announcing-apollo-server-2-2b69fb4702ce) yesterday, which seems to solve the same problems as graphql-yoga, why chose one vs the other?  After an in

[2018-07-20 22:59] mechanical-turk commented on #391
any updates on the issue? i'd be very happy to give more stats & reproduction. how can I help prisma team?

[2018-07-21 18:31] Sharlaan opened #408 "32 PRs ?"
i'm wondering if this is "summer effect" ?

[2018-07-22 12:15] Sharlaan opened #409 "Example with tsconfig.compilerOptions.strict = true ?"
Would be nice to have the advanced boilerplate example with Strict Typescript, especially in regards to resolvers typing.

[2018-07-23 16:46] develomark commented on #403
I'm thinking this too. Perhaps moving over to apollo-server is the way forward now.

[2018-07-24 08:43] #313 closed

[2018-07-24 09:42] vincenzo opened #410 "Feature request: expose Playground options"
I'd like to see this done, so that one can instantiate a new Yoga server with different defaults for Playground (especially critical for me is to set `credentials: "include"` by default).

[2018-07-24 11:11] onpaws commented on #410
The number of times I've had to hand hold colleagues through this step is reason enough for me to support this. I don't know how hard it is but would definitely be appreciated!

[2018-07-24 18:39] mjw56 commented on #302
Is there an example of how to use this? I currently have a very similar problem right now where I'd like to handle when an access token has expired that has been set in context.

[2018-07-26 16:14] alidcastano commented on #382
Not sure what graphql-yoga is planning to do now that Apollo Server 2.0 is out - but I released Druid.js today, to streamline development of Node.js+Graphql apps, and its built on top of Apollo Server 2.0

Here's the link to learn more: https://github.com/alidcastano/druid.js

[2018-07-26 16:16] alidcastano commented on #403
As mentioned in #382, not sure what graphql-yoga is planning to do now that Apollo Server 2.0 is out - but checkout Druid.js, which I created to streamline development of Node.js+Graphql apps, and its built on top of Apollo Server 2.0

https://github.com/alidcastano/druid.js

Here's the link to learn more: https://github.com/alidcastano/druid.js

[2018-07-26 16:16] FluorescentHallucinogen commented on #382
That's what the Apollo developers write:

While **it’s possible to migrate an existing server to 2.0 without any changes**, we recommend changing to new patterns we’re suggesting in order to take advantage of all the latest Apollo Server features, reduce the boilerplate, and enable future flexibility. To learn how to migrate to the 2.0 from version 1.0, please read the following guide.

(source: h

[2018-07-26 16:35] DakshMiglani commented on #382
Actually, if we directly update to apollo-server 2.0, then GraphQL-Yoga won't work, because the exports and API is very different.

GraphQL-Yoga's current API is almost the same as the new Apollo Server 2.0's API.

So we would have to remove all the code on-top of Apollo-Server 1, and then rewrite most parts.

I don't really think the rewrite is worth it, because Apollo-Server@2 full-fills GraphQL

[2018-07-27 10:28] johannpinson opened #413 "Playground can accept boolean as false?"
I add some logic to disable the playground on production like this:
[code]

But the parameter is considered as a potentiel boolean and it throw me an error:
<img width="489" alt="capture d ecran 2018-07-27 a 12 25 42" src="https://user-images.githubusercontent.com/2202989/43316077-53a7f9a6-9198-11e8-8040-5df3b04515a4.png">

There is another option than use this syntax?
[code]

<br>
Thanks for the

[2018-07-27 10:45] kachkaev commented on #413
Just curious: does ` playground: DEBUG ? '/' : undefined,` work for you?

[2018-07-27 10:56] johannpinson commented on #413
Oh right, it works as expected, and without TS error...
In fact, the options looks like to be considered as a string in all case, but the `undefined` state is processed as `false`.

Thanks 👍

[2018-07-27 10:56] #413 closed

[2018-07-27 15:47] orefalo commented on #382
Thanks for the analysis, eye opener.
Agreed with your comments around Yoga, it really helped pave the way.

[2018-07-27 17:02] FluorescentHallucinogen commented on #382
@SpaceK33z

Didn't [`graphql-middleware`](https://github.com/prismagraphql/graphql-middleware), [`graphql-import`](https://github.com/prismagraphql/graphql-import) and [`graphql-deduplicator`](https://github.com/gajus/graphql-deduplicator) NPM packages are compatible (can be used) with [`apollo-server@2`](https://github.com/apollographql/apollo-server)?

FYI, Apollo Server 2
* [supports file uploa

[2018-07-27 17:14] SpaceK33z commented on #382
@FluorescentHallucinogen You've misunderstood me completely, I'm not saying those packages are not compatible with Apollo Server, I'm saying those are built-in so they don't require any config on the user side. As for the Apollo Server 2 features, you mention, that is exactly what I'm talking about with the list that comes after "Features already in GraphQL Yoga".

[2018-07-28 23:58] flpStrri commented on #93
From what I got from the codebase —at least at the lambda side — all we can do is `throw new('Bad arguments, no 🍩 for you')` into the constructors. All the graph resolving happens inside [apollographql/apollo-server](https://github.com/apollographql/apollo-server) lambda, we have no control into that and I am sure no one want to rewrite how to manage lambda code here.
https://github.com/prismagrap

[2018-07-29 04:31] DakshMiglani commented on #403
please check #382.

[2018-07-29 06:14] maticzav commented on #398
Ahh, @valentinebe thanks for noticing this. I must have forgoten to add it to lambda as well. Will add it over the weekend! 💪🏻

[2018-07-29 13:47] #398 closed

[2018-08-01 03:26] douglaseggleton commented on #404
Hej @PanJiaChen 🙌🏻I remember a discussion on this a while ago... https://github.com/prismagraphql/graphql-yoga/issues/100

Essentially...
[code]

[2018-08-01 03:30] PanJiaChen commented on #404
I have read this issue, but I found that it does not work.

[2018-08-03 09:59] kamilregulski commented on #343
@Weakky Try https://www.npmjs.com/package/sync-storage

[2018-08-04 13:58] bellomusodiq opened #421 "Is it possible to run graphql-yoga along side expressjs server"
I want to know if it is possible to run both graphql-yoga and expressjs server on the same port at the same time. thanks

[2018-08-07 01:48] viztor commented on #408
I don't see how this issue is helpful. do you maybe want to close?

[2018-08-07 10:08] #408 closed

[2018-08-07 23:26] joealden opened #424 "Accessing cookies in subscription resolver functions"
Hi, I'd like to quickly thank the contributors of this project for making graphql server creation so easy!

Here is my issue:

I am writing an API where an authentication cookie is sent along with the request. I am using the express cookie-parser middleware to parse the cookie and place it in request.cookies. This works fine for query and mutation resolver functions as I have access to the request

[2018-08-08 16:51] joealden commented on #424
Update: I have found out that I can indeed access the cookies sent with the request if #394 is merged via `context.webSocket.upgradeReq.headers.cookie`.

[2018-08-08 22:58] captDaylight commented on #424
@joealden I know your question is about websockets specifically, but I've been looking into adding cookie-parser middleware form my mutations and queries. Can you show how you're setting up that middleware?

[2018-08-08 23:36] joealden commented on #424
@captDaylight yeah sure, as I mentioned above, this is the repo that I am using it in: https://github.com/joealden/talq-api/ (it's written in TypeScript).

https://github.com/joealden/talq-api/blob/92ef03bef75518e8e1cdb763f8890824af10e3a7/src/index.ts#L36: this is how I added the cookie-parser middleware. This means that I can now access the cookies sent with the request from the context arg in an

[2018-08-09 14:34] captDaylight commented on #424
@joealden really appreciate it! this is super helpful, I was very close but this ironed out the kinks.

[2018-08-10 17:04] frederikhors opened #426 "The advantages."
What is the advantage of using this, compared to a simple express.js with apollo-server?

[2018-08-10 18:02] kachkaev commented on #426
Hi @frederikhors! 👋

See https://github.com/prismagraphql/graphql-yoga/issues/382, which may contain the answer on your question. Also feel free to close this issue if it does.

[2018-08-10 18:13] #426 closed

[2018-08-10 19:33] pungggi commented on #101
@darmie maybe worth opening a new issue?

[2018-08-10 20:11] abelovic commented on #303
@jamesreggio - not to discount anything you have done (because it's very cool) but is there a reason that you did not choose something like Apache Avro? In the big data world this is already a standard protocol for this: https://en.wikipedia.org/wiki/Apache_Avro

Here is a nodejs implementation of the spec: https://github.com/mtth/avsc

It does need a schema but we should be able to get that from

[2018-08-10 22:58] jamesreggio commented on #303
Hi @abelovic — yes, we didn't use other serialization solutions because they introduce a dramatic complexity overhead that we didn't want or need. Our goal was to create a drop-in, zero-configuration, application-level compression library that is narrowly tailored to the domain.

The library that we built satisfies these requirements. It's trivial to adopt, its source takes fewer than three minute

[2018-08-12 11:44] gengjiawen commented on #13
For me, koa has better design, with koa I can easily track all of my request and response.
Maybe we could make `graphql-yoga` support most servers like apollo-server.

[2018-08-13 12:11] Robert-Janagap commented on #362
let me see your schema.graphql

[2018-08-14 05:01] avkonst opened #429 "Documentation for Context points to non existing type"
From the README documentation: "SubscriptionOptions is from the graphql-subscriptions package. SubscriptionOptions are getting the connectionParams automatically injected under SubscriptionOptions.context.[CONNECTION_PARAMETER_NAME]"

There is no such a type in `graphql-subscriptions` package, version: 0.5.8. What is the type of connection property in context?

[2018-08-15 08:53] vincenzo commented on #410
Anyone here?

[2018-08-15 11:20] Fi1osof opened #430 "Error: Query root type must be provided"
After version graphql-yoga@1.8.3 not working import and extends Query schema from generated.
I create repo for example: https://github.com/Fi1osof/bugs-graphql-yoga-exm1/blob/master/src/schema/query.graphql
On 1.8.3 and older it's working. In playground i have complete schema with query "me".
![screenshot](https://user-images.githubusercontent.com/2550668/44145970-39c313ce-a096-11e8-9108-091398209

[2018-08-17 02:07] onpaws commented on #410
I imagine we'd have better luck with a PR.

NB: haven't looked at graphql-yoga or Playground init code in any meaningful way but broadly speaking, I'd imagine we'd define a `playgroundOptions` property for graphql-yoga and thread it all the way through to where the Playground gets instantiated, and pass it into some kind of Playground constructor.

I'm a bit short on time but that's what I'd start

[2018-08-17 13:35] vincenzo commented on #410
I'll try. Not sure if I can find the time either, tbh.

[2018-08-18 12:19] SilencerWeb opened #432 "Receive an error 'Cannot read property 'task' of undefined' instead of data in the subscription on the frontend"
I receive an error 'Cannot read property 'task' of undefined' in the subscription on the frontend instead of data when the subscription is triggered, no error on the backend. Seems like the problem on the frontend, but no.

I have 2 projects with the same structure and same package versions: [first](https://gitlab.com/SilencerWeb/dailyq-api), [second](https://gitlab.com/SilencerWeb/karma-api). Sub

[2018-08-19 16:03] #432 closed

[2018-08-21 15:44] marhub opened #433 "Error: Unexpected end of multipart data"
When i send malformed request to server, it crashes with stacktrace:

    at /application/node_modules/dicer/lib/Dicer.js:62:28
    at process._tickCallback (internal/process/next_tick.js:61:11)
error Command failed with exit code 1.

Where it should gracefully handle that error - return 500 and keep working.

I tried packing all code with try - catch, server.catch() - none of this approaches work

[2018-08-22 15:27] jgoux commented on #167
Hello,

It would be convenient to expose these errors from graphql-yoga, as soon as you need internationalization or your app is in another language they're required.

[2018-08-23 08:08] johannpinson commented on #199
hey @rvlewerissa

Actually I reviewed my workflow and I use Apollo Server v2 directly, so I didn't have even more this problem 😉

[2018-08-23 09:08] Slessi commented on #379
#418 also addresses this

[2018-08-23 17:53] raeesaa opened #435 "Subscription stop does not result in unsubscribe"
Hi,

We have been facing an issue in two of our graphql-yoga applications built over Prisma where despite of sending "stop" message from client, server sends data back to the client for stopped id.

![image](https://user-images.githubusercontent.com/4486873/44542426-6e8d0200-a72a-11e8-8c3d-a792fec1a58b.png)

Reproduction for the issue is available here: [full-stack-graphql-yoga-example](https://gi

[2018-08-23 17:57] raeesaa commented on #435
Also, if we subscribe to Prisma service directly from client, this issue is not observed.

[2018-08-24 08:16] vincenzo commented on #410
What! [Apollo 2.0 does that](https://www.apollographql.com/docs/apollo-server/features/graphql-playground.html#Configuring-Playground) :)

[code]

[2018-08-24 14:28] vincenzo commented on #410
I think they might. But based on this [analysis](https://github.com/prisma/graphql-yoga/issues/382#issuecomment-408390953) I've just migrated to Apollo 2.0 and left Yoga. Quite straightforward. Also, Apollo 2.0 allows for a pattern that I wanted to explore: a single express server on top of multiple Apollo instances. So it's a win-win for me.

[2018-08-24 23:57] Fi1osof commented on #430
UPD: For merging schema now i use this example: https://github.com/prisma/graphql-yoga/blob/409d7125aceec5955abe05e4adb6df8c6994c615/examples/modular-resolvers/typeDefs/index.ts

[2018-08-25 19:21] lquixada opened #436 "move aws-sdk package into devDependencies"
[code]

The `aws-sdk` package is listed as a prod dependency but it is inexistent on src folder. As you can see from the script above, it takes a lot of disk space. How open are you guys into moving it into devDependencies? I can do the PR if you want.

Besides taking space, it became an issue when I discovered the AWS Lambda only allows unzipped bundles to be smaller than 250MB and `aws-sdk` is t